In [17]:
import pandas as pd
import os
from IPython.display import display, Markdown

In [18]:
FOLDER = "."

# FY24 file path
fy24_path = os.path.join(FOLDER, "consol_alteryx_28-10-2025_FY24.csv")

# --- Inspect FY24 ---
print(f"\nüìÑ Inspecting: {os.path.basename(fy24_path)}")

with open(fy24_path, "rb") as f:
    raw = f.read(400)
    print("Raw file sample:", raw[:100])

try:
    df_fy24 = pd.read_csv(
        fy24_path,
        encoding="utf-8-sig",
        sep="¬±",             # correct separator for FY24
        engine="python",
        on_bad_lines="skip"
    )
    display(Markdown(f"‚úÖ **Loaded successfully ‚Üí shape: {df_fy24.shape}**"))
    display(df_fy24.head(5))
except Exception as e:
    display(Markdown(f"‚ùå **Error reading FY24 file:** {e}"))

üìÑ Inspecting: consol_alteryx_28-10-2025_FY24.csv
Raw file sample: b'\xef\xbb\xbfYear\xc2\xb1Engagement ID\xc2\xb1Eng ID\xc2\xb1GFIS / Mercury\xc2\xb1MS\xc2\xb1Location\xc2\xb1Engagement\xc2\xb1Creation Date\xc2\xb1Release Dat'

‚úÖ **Loaded successfully ‚Üí shape: (559769, 347)**

,Year,Engagement ID,Eng ID,GFIS / Mercury,MS,Location,Engagement,Creation Date,Release Date,Plan Start Date,...,source_file,Year1,Sub_Folder_1,Sub_Folder_2,Month_Serialized,Week,File_Name,Same FY?,WeekNo,Month
0,FY24,E-67388357,67388357.0,Mercury,TMT,Bangalore,TB085-Quest USGAAP LR &YE March 2023,2023-04-24 00:00:00,NaN,NaN,...,INPUT__FY24__FY24__WK 10__Engagement List Wk 10,FY24,FY24,FY24,FY24,10,Engagement List Wk 10,Y,10,03 Sep
1,FY24,E-67681344,67681344.0,Mercury,IIC,East,Industrial Energy Limited,2023-09-04 00:00:00,NaN,NaN,...,INPUT__FY24__FY24__WK 10__Engagement List Wk 10,FY24,FY24,FY24,FY24,10,Engagement List Wk 10,Y,10,03 Sep
2,FY24,E-67694116,67694116.0,Mercury,IIC,Mumbai,Vini - ESG Support - Materiality & GHG,2023-09-08 00:00:00,NaN,NaN,...,INPUT__FY24__FY24__WK 10__Engagement List Wk 10,FY24,FY24,FY24,FY24,10,Engagement List Wk 10,Y,10,03 Sep
3,FY24,E-67203860,67203860.0,Mercury,TMT,Delhi,TD004-Uniphore software systems private,2023-02-10 00:00:00,NaN,NaN,...,INPUT__FY24__FY24__WK 10__Engagement List Wk 10,FY24,FY24,FY24,FY24,10,Engagement List Wk 10,Y,10,03 Sep
4,FY24,E-67462617,67462617.0,Mercury,IIC,Mumbai,GHG Inventorisation and CO2 Savings,2023-06-06 00:00:00,NaN,NaN,...,INPUT__FY24__FY24__WK 10__Engagement List Wk 10,FY24,FY24,FY24,FY24,10,Engagement List Wk 10,Y,10,03 Sep

In [19]:
# FY25 file path
fy25_path = os.path.join(FOLDER, "consol_alteryx_28-10-2025_FY25.csv")

# --- Inspect FY25 ---
print(f"\nüìÑ Inspecting: {os.path.basename(fy25_path)}")

with open(fy25_path, "rb") as f:
    raw = f.read(400)
    print("Raw file sample:", raw[:100])

try:
    df_fy25 = pd.read_csv(
        fy25_path,
        encoding="mac_roman",
        sep="¬±",             # confirmed separator for FY25
        engine="python",
        on_bad_lines="skip"
    )
    display(Markdown(f"‚úÖ **Loaded successfully ‚Üí shape: {df_fy25.shape}**"))
    display(df_fy25.head(5))
    df_fy25.tail(5)
except Exception as e:
    display(Markdown(f"‚ùå **Error reading FY25 file:** {e}"))

üìÑ Inspecting: consol_alteryx_28-10-2025_FY25.csv
Raw file sample: b'Year\xb1Engagement ID\xb1Eng ID\xb1MS\xb1Location\xb1Engagement\xb1Release Date\xb1Last Invoice Issued Date\xb1Last Time Cha'

‚úÖ **Loaded successfully ‚Üí shape: (1062745, 170)**

,Year,Engagement ID,Eng ID,MS,Location,Engagement,Release Date,Last Invoice Issued Date,Last Time Charged Date,Last Expenses Charged Date,...,Location Partner,source_file,Year1,Sub_Folder_1,Sub_Folder_2,Month_Serialized,Week,File_Name,Same FY?,Month
0,FY25,E-67195917,67195917.0,NaN,NaN,AB173-Signify Stat Audit YE Dec 2022,2023-02-23 00:00:00,2023-09-15 00:00:00,2024-07-07 00:00:00,2024-07-01 00:00:00,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL
1,FY25,E-67407732,67407732.0,NaN,NaN,CB104 AWSBPL Stat Audit FY23,2023-05-03 00:00:00,2024-02-21 00:00:00,2024-04-23 00:00:00,2024-07-04 00:00:00,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL
2,FY25,E-45286932,45286932.0,NaN,NaN,SC TIC Mfg+Ind Group Report 22,2023-01-04 00:00:00,2022-08-23 00:00:00,2022-10-21 00:00:00,2023-12-06 00:00:00,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL
3,FY25,E-45146567,45146567.0,NaN,NaN,SBL Certification Service 2021,2023-01-04 00:00:00,2022-04-19 00:00:00,2022-12-02 00:00:00,NaN,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL
4,FY25,E-42655917,42655917.0,NaN,NaN,CB171-Project Marine,2023-01-04 00:00:00,2023-09-19 00:00:00,NaN,2023-04-24 00:00:00,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL

In [20]:
# FY25_FY26 file path
fy25fy26_path = os.path.join(FOLDER, "consol_fy25fy26_27-10-2025.csv")

# --- Inspect FY25_FY26 ---
print(f"\nüìÑ Inspecting: {os.path.basename(fy25fy26_path)}")

with open(fy25fy26_path, "rb") as f:
    raw = f.read(400)
    print("Raw file sample:", raw[:100])

try:
    df_fy25fy26 = pd.read_csv(
        fy25fy26_path,
        encoding="mac_roman",
        sep="¬±",             # same pattern as FY25
        engine="python",
        on_bad_lines="skip"
    )
    display(Markdown(f"‚úÖ **Loaded successfully ‚Üí shape: {df_fy25fy26.shape}**"))
    display(df_fy25fy26.head(5))
except Exception as e:
    display(Markdown(f"‚ùå **Error reading FY25_FY26 file:** {e}"))

üìÑ Inspecting: consol_fy25fy26_27-10-2025.csv
Raw file sample: b'Year\xb1Engagement ID\xb1Eng ID\xb1MS\xb1Location\xb1Engagement\xb1Release Date\xb1Last Invoice Issued Date\xb1Last Time Cha'

‚úÖ **Loaded successfully ‚Üí shape: (1363637, 134)**

,Year,Engagement ID,Eng ID,MS,Location,Engagement,Release Date,Last Invoice Issued Date,Last Time Charged Date,Last Expenses Charged Date,...,Cap Market/SSC/Secondment/Others,source_file,Year1,Sub_Folder_1,Sub_Folder_2,Month_Serialized,Week,File_Name,Same FY?,Month
0,FY25,E-67195917,67195917.0,NaN,NaN,AB173-Signify Stat Audit YE Dec 2022,2023-02-23 00:00:00,2023-09-15 00:00:00,2024-07-07 00:00:00,2024-07-01 00:00:00,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL
1,FY25,E-67407732,67407732.0,NaN,NaN,CB104 AWSBPL Stat Audit FY23,2023-05-03 00:00:00,2024-02-21 00:00:00,2024-04-23 00:00:00,2024-07-04 00:00:00,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL
2,FY25,E-45286932,45286932.0,NaN,NaN,SC TIC Mfg+Ind Group Report 22,2023-01-04 00:00:00,2022-08-23 00:00:00,2022-10-21 00:00:00,2023-12-06 00:00:00,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL
3,FY25,E-45146567,45146567.0,NaN,NaN,SBL Certification Service 2021,2023-01-04 00:00:00,2022-04-19 00:00:00,2022-12-02 00:00:00,NaN,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL
4,FY25,E-42655917,42655917.0,NaN,NaN,CB171-Project Marine,2023-01-04 00:00:00,2023-09-19 00:00:00,NaN,2023-04-24 00:00:00,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL

In [21]:
print(df_fy24.shape)

(559769, 347)

In [22]:
df_fy24.head() #03 sep

,Year,Engagement ID,Eng ID,GFIS / Mercury,MS,Location,Engagement,Creation Date,Release Date,Plan Start Date,...,source_file,Year1,Sub_Folder_1,Sub_Folder_2,Month_Serialized,Week,File_Name,Same FY?,WeekNo,Month
0,FY24,E-67388357,67388357.0,Mercury,TMT,Bangalore,TB085-Quest USGAAP LR &YE March 2023,2023-04-24 00:00:00,NaN,NaN,...,INPUT__FY24__FY24__WK 10__Engagement List Wk 10,FY24,FY24,FY24,FY24,10,Engagement List Wk 10,Y,10,03 Sep
1,FY24,E-67681344,67681344.0,Mercury,IIC,East,Industrial Energy Limited,2023-09-04 00:00:00,NaN,NaN,...,INPUT__FY24__FY24__WK 10__Engagement List Wk 10,FY24,FY24,FY24,FY24,10,Engagement List Wk 10,Y,10,03 Sep
2,FY24,E-67694116,67694116.0,Mercury,IIC,Mumbai,Vini - ESG Support - Materiality & GHG,2023-09-08 00:00:00,NaN,NaN,...,INPUT__FY24__FY24__WK 10__Engagement List Wk 10,FY24,FY24,FY24,FY24,10,Engagement List Wk 10,Y,10,03 Sep
3,FY24,E-67203860,67203860.0,Mercury,TMT,Delhi,TD004-Uniphore software systems private,2023-02-10 00:00:00,NaN,NaN,...,INPUT__FY24__FY24__WK 10__Engagement List Wk 10,FY24,FY24,FY24,FY24,10,Engagement List Wk 10,Y,10,03 Sep
4,FY24,E-67462617,67462617.0,Mercury,IIC,Mumbai,GHG Inventorisation and CO2 Savings,2023-06-06 00:00:00,NaN,NaN,...,INPUT__FY24__FY24__WK 10__Engagement List Wk 10,FY24,FY24,FY24,FY24,10,Engagement List Wk 10,Y,10,03 Sep

In [23]:
df_fy24.tail()

,Year,Engagement ID,Eng ID,GFIS / Mercury,MS,Location,Engagement,Creation Date,Release Date,Plan Start Date,...,source_file,Year1,Sub_Folder_1,Sub_Folder_2,Month_Serialized,Week,File_Name,Same FY?,WeekNo,Month
559764,FY24,E-67606754,67606754.0,Mercury,TMT,Bangalore,Xto10X Stat Audit FY 23,2023-08-02 00:00:00,2023-08-08 00:00:00,2023-08-02 00:00:00,...,INPUT__FY24__FY24__WK 9__Engagement List 9,FY24,FY24,FY24,FY24,9,Engagement List 9,Y,9,03 Sep
559765,FY24,E-45115387,45115387.0,GFIS,IIC,Delhi,CD015-Grp Rep+Tax Audit Mar-22,2023-01-03 00:00:00,2023-01-04 00:00:00,2022-08-02 00:00:00,...,INPUT__FY24__FY24__WK 9__Engagement List 9,FY24,FY24,FY24,FY24,9,Engagement List 9,Y,9,03 Sep
559766,FY24,E-67163428,67163428.0,Mercury,TMT,Chennai,SA -March 2023,2023-01-31 00:00:00,2023-01-31 00:00:00,2023-01-17 00:00:00,...,INPUT__FY24__FY24__WK 9__Engagement List 9,FY24,FY24,FY24,FY24,9,Engagement List 9,Y,9,03 Sep
559767,FY24,E-67147273,67147273.0,Mercury,FS,Delhi,FD026-CFR Solution Assistance,2023-01-25 00:00:00,2023-02-10 00:00:00,2023-01-03 00:00:00,...,INPUT__FY24__FY24__WK 9__Engagement List 9,FY24,FY24,FY24,FY24,9,Engagement List 9,Y,9,03 Sep
559768,FY24,E-45536547,45536547.0,GFIS,IIC,Delhi,CD0C7-Stat Audit & Grp Rep 2022-23,2023-01-03 00:00:00,2023-01-04 00:00:00,2022-08-02 00:00:00,...,INPUT__FY24__FY24__WK 9__Engagement List 9,FY24,FY24,FY24,FY24,9,Engagement List 9,Y,9,03 Sep

In [24]:
df_fy25.shape

(1062745, 170)

In [25]:
df_fy25.head() #july

,Year,Engagement ID,Eng ID,MS,Location,Engagement,Release Date,Last Invoice Issued Date,Last Time Charged Date,Last Expenses Charged Date,...,Location Partner,source_file,Year1,Sub_Folder_1,Sub_Folder_2,Month_Serialized,Week,File_Name,Same FY?,Month
0,FY25,E-67195917,67195917.0,NaN,NaN,AB173-Signify Stat Audit YE Dec 2022,2023-02-23 00:00:00,2023-09-15 00:00:00,2024-07-07 00:00:00,2024-07-01 00:00:00,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL
1,FY25,E-67407732,67407732.0,NaN,NaN,CB104 AWSBPL Stat Audit FY23,2023-05-03 00:00:00,2024-02-21 00:00:00,2024-04-23 00:00:00,2024-07-04 00:00:00,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL
2,FY25,E-45286932,45286932.0,NaN,NaN,SC TIC Mfg+Ind Group Report 22,2023-01-04 00:00:00,2022-08-23 00:00:00,2022-10-21 00:00:00,2023-12-06 00:00:00,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL
3,FY25,E-45146567,45146567.0,NaN,NaN,SBL Certification Service 2021,2023-01-04 00:00:00,2022-04-19 00:00:00,2022-12-02 00:00:00,NaN,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL
4,FY25,E-42655917,42655917.0,NaN,NaN,CB171-Project Marine,2023-01-04 00:00:00,2023-09-19 00:00:00,NaN,2023-04-24 00:00:00,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL

In [26]:
df_fy25.tail()#june

,Year,Engagement ID,Eng ID,MS,Location,Engagement,Release Date,Last Invoice Issued Date,Last Time Charged Date,Last Expenses Charged Date,...,Location Partner,source_file,Year1,Sub_Folder_1,Sub_Folder_2,Month_Serialized,Week,File_Name,Same FY?,Month
1062740,FY25,NaN,NaN,IIC,Pune,NaN,NaN,NaN,NaN,NaN,...,NaN,FY25__FY25__12.Jun__Wk 52(Final)__FY25_Engagem...,FY25,FY25,FY25,12JUN,52,FY25_Engagement List_Power BI_Pivot Wk52,Y,JUN
1062741,FY25,NaN,NaN,IIC,Ahmedabad,NaN,NaN,NaN,NaN,NaN,...,NaN,FY25__FY25__12.Jun__Wk 52(Final)__FY25_Engagem...,FY25,FY25,FY25,12JUN,52,FY25_Engagement List_Power BI_Pivot Wk52,Y,JUN
1062742,FY25,NaN,NaN,IIC,Delhi,NaN,NaN,NaN,NaN,NaN,...,NaN,FY25__FY25__12.Jun__Wk 52(Final)__FY25_Engagem...,FY25,FY25,FY25,12JUN,52,FY25_Engagement List_Power BI_Pivot Wk52,Y,JUN
1062743,FY25,NaN,NaN,IIC,East,NaN,NaN,NaN,NaN,NaN,...,NaN,FY25__FY25__12.Jun__Wk 52(Final)__FY25_Engagem...,FY25,FY25,FY25,12JUN,52,FY25_Engagement List_Power BI_Pivot Wk52,Y,JUN
1062744,FY25,NaN,NaN,National,Mumbai,NaN,NaN,NaN,NaN,NaN,...,NaN,FY25__FY25__12.Jun__Wk 52(Final)__FY25_Engagem...,FY25,FY25,FY25,12JUN,52,FY25_Engagement List_Power BI_Pivot Wk52,Y,JUN

In [27]:
df_fy25fy26.shape

(1363637, 134)

In [28]:
df_fy25fy26.head()

,Year,Engagement ID,Eng ID,MS,Location,Engagement,Release Date,Last Invoice Issued Date,Last Time Charged Date,Last Expenses Charged Date,...,Cap Market/SSC/Secondment/Others,source_file,Year1,Sub_Folder_1,Sub_Folder_2,Month_Serialized,Week,File_Name,Same FY?,Month
0,FY25,E-67195917,67195917.0,NaN,NaN,AB173-Signify Stat Audit YE Dec 2022,2023-02-23 00:00:00,2023-09-15 00:00:00,2024-07-07 00:00:00,2024-07-01 00:00:00,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL
1,FY25,E-67407732,67407732.0,NaN,NaN,CB104 AWSBPL Stat Audit FY23,2023-05-03 00:00:00,2024-02-21 00:00:00,2024-04-23 00:00:00,2024-07-04 00:00:00,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL
2,FY25,E-45286932,45286932.0,NaN,NaN,SC TIC Mfg+Ind Group Report 22,2023-01-04 00:00:00,2022-08-23 00:00:00,2022-10-21 00:00:00,2023-12-06 00:00:00,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL
3,FY25,E-45146567,45146567.0,NaN,NaN,SBL Certification Service 2021,2023-01-04 00:00:00,2022-04-19 00:00:00,2022-12-02 00:00:00,NaN,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL
4,FY25,E-42655917,42655917.0,NaN,NaN,CB171-Project Marine,2023-01-04 00:00:00,2023-09-19 00:00:00,NaN,2023-04-24 00:00:00,...,NaN,FY25__FY25__01.Jul__Wk 02__Engagement List_Wk 02,FY25,FY25,FY25,01JUL,2,Engagement List_Wk 02,Y,JUL

In [29]:
df_fy25fy26.tail()

,Year,Engagement ID,Eng ID,MS,Location,Engagement,Release Date,Last Invoice Issued Date,Last Time Charged Date,Last Expenses Charged Date,...,Cap Market/SSC/Secondment/Others,source_file,Year1,Sub_Folder_1,Sub_Folder_2,Month_Serialized,Week,File_Name,Same FY?,Month
1363632,FY26,57,NaN,TMT,Bangalore,NaN,NaN,NaN,NaN,NaN,...,NaN,FY26__FY26__03.Sep__Wk13__Engagement List_Pivo...,FY26,FY26,FY26,03SEP,13,Engagement List_Pivot Wk13 1,Y,SEP
1363633,FY26,58,NaN,TMT,Chennai,NaN,NaN,NaN,NaN,NaN,...,NaN,FY26__FY26__03.Sep__Wk13__Engagement List_Pivo...,FY26,FY26,FY26,03SEP,13,Engagement List_Pivot Wk13 1,Y,SEP
1363634,FY26,59,NaN,TMT,Delhi,NaN,NaN,NaN,NaN,NaN,...,NaN,FY26__FY26__03.Sep__Wk13__Engagement List_Pivo...,FY26,FY26,FY26,03SEP,13,Engagement List_Pivot Wk13 1,Y,SEP
1363635,FY26,60,NaN,TMT,Hyderabad,NaN,NaN,NaN,NaN,NaN,...,NaN,FY26__FY26__03.Sep__Wk13__Engagement List_Pivo...,FY26,FY26,FY26,03SEP,13,Engagement List_Pivot Wk13 1,Y,SEP
1363636,FY26,61,NaN,TMT,Mumbai,NaN,NaN,NaN,NaN,NaN,...,NaN,FY26__FY26__03.Sep__Wk13__Engagement List_Pivo...,FY26,FY26,FY26,03SEP,13,Engagement List_Pivot Wk13 1,Y,SEP

In [30]:
# ------------------------------------------------
# üìä Inspect FY24 Columns and Format
# ------------------------------------------------

# Confirm shape
print(f"‚úÖ FY24 dataset shape: {df_fy24.shape}")

# Display column names clearly
print("\nüß± FY24 column names:")
for i, col in enumerate(df_fy24.columns):
    print(f"{i+1:3d}. {col}")

# Display a few rows neatly
print("\nüìã FY24 sample data:")
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 2000)
display(df_fy24.head(5))

‚úÖ FY24 dataset shape: (559769, 347)

üß± FY24 column names:
  1. Year
  2. Engagement ID
  3. Eng ID
  4. GFIS / Mercury
  5. MS
  6. Location
  7. Engagement
  8. Creation Date
  9. Release Date
 10. Plan Start Date
 11. Plan End Date
 12. Last Status Change Date
 13. Last Invoice Issued Date
 14. Last Time Charged Date
 15. Last Expenses Charged Date
 16. Block Time
 17. Time Allowed From
 18. Time Allowed To
 19. Block Expense
 20. Expense Allowed From
 21. Expense Allowed  To
 22. Completed Date
 23. Opportunity ID
 24. Opportunity
 25. Opportunity Type
 26. Opportunity Partner ID
 27. Opportunity Partner
 28. Project ID
 29. Project
 30. Sharing Group
 31. Engagement Revenue Type Cd
 32. Engagement Revenue Type
 33. Engagement Area
 34. Engagement Region
 35. Engagement Country/Region
 36. Engagement Province
 37. Engagement Economic Location
 38. Engagement Company Code
 39. Currency
 40. Engagement Status
 41. Engagement Type Code
 42. Engagement Type
 43. Engagement Payment Terms
 44. Engagement Partner GUI
 45. EP GPN
 46. EP
 47. Partner BU
 48. Engagement Partner
 49. Engagement Partner Region
 50. Engagement Partner Country/Region
 51. Engagement Partner Province
 52. Engagement Partner Service Line
 53. Engagement Partner Sub Service Line
 54. Engagement Partner Competency
 55. Engagement Partner Activity Code
 56. Engagement Partner Activity
 57. Engagement Partner Delegate GUI
 58. Engagement Partner Delegate
 59. Engagement Manager GUI
 60. EM GPN
 61. EM
 62. Engagement Manager
 63. Engagement Manager Region
 64. Engagement Manager Country/Region
 65. Engagement Manager Province
 66. Engagement Manager Service Line
 67. Engagement Manager Sub Service Line
 68. Engagement Manager Competency
 69. Engagement Manager Activity Code
 70. Engagement Manager Activity
 71. Global SL Partner GUI
 72. Global SL Partner
 73. Regional SL Partner GUI
 74. Regional SL Partner
 75. Billing Partner GUI
 76. Billing Partner
 77. Billing Manager GUI
 78. Billing Manager
 79. Client ID
 80. GFIS CID
 81. Client DUNS
 82. Client
 83. Client Name
 84. SEC Indicator
 85. Client Sector
 86. Client Sub Sector
 87. Client Payment Terms
 88. Account ID
 89. Account
 90. Account Name
 91. Account Channel
 92. Account Sub Segment
 93. Account Sector
 94. Account Sub Sector
 95. Account Headquarter Country
 96. Engagement  Cost Center
 97. Engagement Cost Center Description
 98. Engagement Service Line
 99. Engagement Sub Service Line
100. Engagement Competency
101. SaT only - Alt Eng Fin Competency
102. Service Offering
103. Engagement Service Code
104. Engagement Service
105. Transaction Service Code
106. Transaction Service
107. Engagement Interoperability Code
108. Last ETC-P
109. Last Active ETC-P Date
110. Last Passive ETC-P Date
111. ETC-P Indicator
112. ETC-P needed
113. ETC-P Due Date
114. PACE Folder Name
115. Use Detailed Budget Workbook
116. Finance Support Indicator
117. Standard/Lean Eng Indicator
118. Labor/Tech Eng Indicator
119. Margin % ETD
120. Margin % FYTD
121. Margin % MTD
122. Margin % CP
123. Margin ETD
124. Margin FYTD
125. Margin MTD
126. Margin CP
127. Charged Hours ETD
128. Charged Hours FYTD
129. Wk26 Hours
130. Mercury Hours
131. Charged Hours MTD
132. Charged Hours CP
133. NSR / Tech Revenue ETD
134. NSR / Tech Revenue FYTD
135. NSR / Tech Revenue MTD
136. NSR / Tech Revenue CP
137. Initial EAF %
138. EAF % Current
139. EAF Reserve ETD
140. EAF Reserve FYTD
141. EAF Reserve MTD
142. EAF Reserve CP
143. AR Reserve ETD
144. AR Reserve FYTD
145. AR Reserve MTD
146. AR Reserve CP
147. AR Write Off ETD
148. AR Write Off FYTD
149. AR Write Off MTD
150. AR Write Off CP
151. WIP Write Off ETD
152. WIP Write Off  FYTD
153. WIP Write Off MTD
154. WIP Write Off CP
155. Conversion Adjustment ETD
156. ANSR / Tech Revenue ETD
157. ANSR / Tech Revenue FYTD
158. NBP
159. ANSR - NBP Adj
160. ANSR - NBP Adj YTD LW
161. ANSR - NBP Adj Last WK
162. Wk26 NER
163. Mercury NER
164. Mercury RPH
165. ANSR / Tech Revenue MTD
166. ANSR / Tech Revenue CP
167. ANSR Rph ETD
168. ANSR Rph FYTD
169. ANSR Rph MTD
170. ANSR Rph CP
171. Expenses ETD
172. Expenses FYTD
173. Expenses MTD
174. Expenses CP
175. ETD Labor Costs
176. FYTD Labor Costs
177. MTD Labor Costs
178. CP Labor Costs
179. ETD Tech Uplift Costs
180. FYTD Tech Uplift Costs
181. MTD Tech Uplift Costs
182. CP Tech Uplift Costs
183. ETD Tech Product Costs
184. FYTD Tech Product Costs
185. MTD Tech Product Costs
186. CP Tech Product Costs
187. ETD Margin Costs
188. FYTD Margin Costs
189. MTD Margin Costs
190. CP Margin Costs
191. TER ETD
192. TER FYTD
193. TER MTD
194. TER CP
195. NUI ETD
196. Pos WIP
197. Neg WIP
198. WIP 0 to 60 Days
199. WIP 61 to 180 Days
200. WIP > 180 Days
201. Billed Fees ETD
202. Billed Fees FYTD
203. Billed Fees MTD
204. Billed Fees CP
205. Billed Expenses ETD
206. Billed Expenses FYTD
207. Billed Expenses MTD
208. Billed Expenses CP
209. Total Billed ETD
210. Total Billed FYTD
211. Wk26 Billing
212. Mercury Billing
213. Total Billed MTD
214. Total Billed CP
215. Total Billed ETD (Lead)
216. Total Billed FYTD(Lead)
217. Total Billed MTD(Lead)
218. Total Billed CP(Lead)
219. Total Billing with Tax ETD
220. Total Billing with Tax FYTD
221. Total Billing with Tax MTD
222. Total Billing with Tax CP
223. Total Billing with Tax ETD (Lead)
224. Total Billing with Tax FYTD (Lead)
225. Total Billing with Tax MTD (Lead)
226. Total Billing with Tax CP (Lead)
227. Billed Hours ETD
228. Billed Hours FYTD
229. Billed Hours MTD
230. Billed Hours CP
231. ETD Unbilled Hours
232. FYTD Unbilled Hours
233. MTD Unbilled Hours
234. CP Unbilled Hours
235. ETD Unbilled Fees
236. FYTD Unbilled Fees
237. MTD Unbilled Fees
238. CP Unbilled Fees
239. ETD Unbilled Expenses
240. FYTD Unbilled Expenses
241. MTD Unbilled Expenses
242. CP Unbilled Expenses
243. ETD AR Collected
244. ETD AR Collected Tax
245. ETD Total Collections
246. ETD Wk26
247. FYTD Collections
248. Wk26 Collections
249. Mercury Collections
250. CP Total Collections
251. MTD AR Collected
252. MTD AR Collected Tax
253. MTD Total Collections
254. Opportunity Currency
255. Charged Hours Mercury Projected
256. NSR Mercury Projected
257. NSR Source
258. EAF Mercury Projected
259. ANSR Mercury Projected
260. Expenses Mercury Projected
261. Expense Source
262. TER Mercury Projected
263. Margin Mercury Projected
264. Margin % Mercury Projected
265. NSR Mercury Projected Opp Currency
266. ANSR Mercury Projected Opp Currency
267. Expense Mercury Projected Opp Currency
268. TER Mercury Projected Opp Currency
269. Margin Mercury Projected Opp Currency
270. Margin % Mercury Projected Opp Currency
271. Billing Mercury Projected Opp Currency
272. MTG Backlog
273. FYTG Backlog
274. Future FY Backlog
275. ETG Backlog
276. Future FY24 Q3 Backlog Jan - Mar
277. MTG Backlog Opp Currency
278. FYTG Backlog Opp Currency
279. Future FY Backlog Opp Currency
280. ETG Backlog Opp Currency
281. Future FY24 Q3 Backlog Jan - Mar Opp Currency
282. Original Budget Hours
283. Original Budget NSR / Tech Revenue
284. Original Budget EAF
285. Original Budget ANSR / Tech Revenue
286. Original Budget Expenses
287. Original Budget Labor Costs
288. Original Budget Uplift Costs
289. Original Budget Tech Costs
290. Original Budget Margin Costs
291. Original Budget Margin
292. Original Budget Margin %
293. Original Budget TER
294. Expense Ratio ETD
295. Expense Ratio FYTD
296. Expense Ratio MTD
297. Expense Ratio CP
298. Cost Base Ratio ETD
299. Cost Base Ratio FYTD
300. Cost Base Ratio MTD
301. Cost Base Ratio CP
302. AR Outstanding
303. AR 0 to 60 daxys
304. AR 61 to 180 dyas
305. AR > 180 days
306. Net (Incl. Tax)
307. Total AR Reserve
308. AR Reserve  excl. Tax
309. Incl. Tax
310. Excl. Tax
311. AR Aging not yet due
312. AR Aging 0 30 days
313. AR Aging 31 60 days
314. AR Aging 61 90 days
315. AR Aging 91 120 days
316. AR Aging 121 150 days
317. AR Aging 151 179 days
318. AR Aging 180 365 days
319. AR Aging Above 365 days
320. Gross (Incl. Tax)
321. Incl. Tax (Lead)
322. Excl. Tax (Lead)
323. AR Aging not yet due Lead
324. AR Aging 0 30 days Lead
325. AR Aging 31 60 days Lead
326. AR Aging 61 90 days Lead
327. AR Aging 91 120 days Lead
328. AR Aging 121 150 days Lead
329. AR Aging 151 179 days Lead
330. AR Aging 180 365 days Lead
331. AR Aging Above 365 days Lead
332. Revenue Days
333. Billed Revenue Days
334. Unbilled Revenue Days
335. ANSR to Accrue
336. Cap Market/SSC/Others
337. Cap Market/SSC/Secondment/Others
338. source_file
339. Year1
340. Sub_Folder_1
341. Sub_Folder_2
342. Month_Serialized
343. Week
344. File_Name
345. Same FY?
346. WeekNo
347. Month

üìã FY24 sample data:

,Year,Engagement ID,Eng ID,GFIS / Mercury,MS,Location,Engagement,Creation Date,Release Date,Plan Start Date,Plan End Date,Last Status Change Date,Last Invoice Issued Date,Last Time Charged Date,Last Expenses Charged Date,Block Time,Time Allowed From,Time Allowed To,Block Expense,Expense Allowed From,Expense Allowed To,Completed Date,Opportunity ID,Opportunity,Opportunity Type,Opportunity Partner ID,Opportunity Partner,Project ID,Project,Sharing Group,Engagement Revenue Type Cd,Engagement Revenue Type,Engagement Area,Engagement Region,Engagement Country/Region,Engagement Province,Engagement Economic Location,Engagement Company Code,Currency,Engagement Status,Engagement Type Code,Engagement Type,Engagement Payment Terms,Engagement Partner GUI,EP GPN,EP,Partner BU,Engagement Partner,Engagement Partner Region,Engagement Partner Country/Region,Engagement Partner Province,Engagement Partner Service Line,Engagement Partner Sub Service Line,Engagement Partner Competency,Engagement Partner Activity Code,Engagement Partner Activity,Engagement Partner Delegate GUI,Engagement Partner Delegate,Engagement Manager GUI,EM GPN,EM,Engagement Manager,Engagement Manager Region,Engagement Manager Country/Region,Engagement Manager Province,Engagement Manager Service Line,Engagement Manager Sub Service Line,Engagement Manager Competency,Engagement Manager Activity Code,Engagement Manager Activity,Global SL Partner GUI,Global SL Partner,Regional SL Partner GUI,Regional SL Partner,Billing Partner GUI,Billing Partner,Billing Manager GUI,Billing Manager,Client ID,GFIS CID,Client DUNS,Client,Client Name,SEC Indicator,Client Sector,Client Sub Sector,Client Payment Terms,Account ID,Account,Account Name,Account Channel,Account Sub Segment,Account Sector,Account Sub Sector,Account Headquarter Country,Engagement Cost Center,Engagement Cost Center Description,Engagement Service Line,Engagement Sub Service Line,Engagement Competency,SaT only - Alt Eng Fin Competency,Service Offering,Engagement Service Code,Engagement Service,Transaction Service Code,Transaction Service,Engagement Interoperability Code,Last ETC-P,Last Active ETC-P Date,Last Passive ETC-P Date,ETC-P Indicator,ETC-P needed,ETC-P Due Date,PACE Folder Name,Use Detailed Budget Workbook,Finance Support Indicator,Standard/Lean Eng Indicator,Labor/Tech Eng Indicator,Margin % ETD,Margin % FYTD,Margin % MTD,Margin % CP,Margin ETD,Margin FYTD,Margin MTD,Margin CP,Charged Hours ETD,Charged Hours FYTD,Wk26 Hours,Mercury Hours,Charged Hours MTD,Charged Hours CP,NSR / Tech Revenue ETD,NSR / Tech Revenue FYTD,NSR / Tech Revenue MTD,NSR / Tech Revenue CP,Initial EAF %,EAF % Current,EAF Reserve ETD,EAF Reserve FYTD,EAF Reserve MTD,EAF Reserve CP,AR Reserve ETD,AR Reserve FYTD,AR Reserve MTD,AR Reserve CP,AR Write Off ETD,AR Write Off FYTD,AR Write Off MTD,AR Write Off CP,WIP Write Off ETD,WIP Write Off FYTD,WIP Write Off MTD,WIP Write Off CP,Conversion Adjustment ETD,ANSR / Tech Revenue ETD,ANSR / Tech Revenue FYTD,NBP,ANSR - NBP Adj,ANSR - NBP Adj YTD LW,ANSR - NBP Adj Last WK,Wk26 NER,Mercury NER,Mercury RPH,ANSR / Tech Revenue MTD,ANSR / Tech Revenue CP,ANSR Rph ETD,ANSR Rph FYTD,ANSR Rph MTD,ANSR Rph CP,Expenses ETD,Expenses FYTD,Expenses MTD,Expenses CP,ETD Labor Costs,FYTD Labor Costs,MTD Labor Costs,CP Labor Costs,ETD Tech Uplift Costs,FYTD Tech Uplift Costs,MTD Tech Uplift Costs,CP Tech Uplift Costs,ETD Tech Product Costs,FYTD Tech Product Costs,MTD Tech Product Costs,CP Tech Product Costs,ETD Margin Costs,FYTD Margin Costs,MTD Margin Costs,CP Margin Costs,TER ETD,TER FYTD,TER MTD,TER CP,NUI ETD,Pos WIP,Neg WIP,WIP 0 to 60 Days,WIP 61 to 180 Days,WIP > 180 Days,Billed Fees ETD,Billed Fees FYTD,Billed Fees MTD,Billed Fees CP,Billed Expenses ETD,Billed Expenses FYTD,Billed Expenses MTD,Billed Expenses CP,Total Billed ETD,Total Billed FYTD,Wk26 Billing,Mercury Billing,Total Billed MTD,Total Billed CP,Total Billed ETD (Lead),Total Billed FYTD(Lead),Total Billed MTD(Lead),Total Billed CP(Lead),Total Billing with Tax ETD,Total Billing with Tax FYTD,Total Billing with Tax MTD,Total Billing with Tax CP,Total Billing with Tax ETD (Lead),Total Billing with Tax FYTD (Lead),Total Billing with Tax MTD (Lead),Total Billing with Tax CP (Lead),Billed Hours ETD,Billed Hours FYTD,Billed Hours MTD,Billed Hours CP,ETD Unbilled Hours,FYTD Unbilled Hours,MTD Unbilled Hours,CP Unbilled Hours,ETD Unbilled Fees,FYTD Unbilled Fees,MTD Unbilled Fees,CP Unbilled Fees,ETD Unbilled Expenses,FYTD Unbilled Expenses,MTD Unbilled Expenses,CP Unbilled Expenses,ETD AR Collected,ETD AR Collected Tax,ETD Total Collections,ETD Wk26,FYTD Collections,Wk26 Collections,Mercury Collections,CP Total Collections,MTD AR Collected,MTD AR Collected Tax,MTD Total Collections,Opportunity Currency,Charged Hours Mercury Projected,NSR Mercury Projected,NSR Source,EAF Mercury Projected,ANSR Mercury Projected,Expenses Mercury Projected,Expense Source,TER Mercury Projected,Margin Mercury Projected,Margin % Mercury Projected,NSR Mercury Projected Opp Currency,ANSR Mercury Projected Opp Currency,Expense Mercury Projected Opp Currency,TER Mercury Projected Opp Currency,Margin Mercury Projected Opp Currency,Margin % Mercury Projected Opp Currency,Billing Mercury Projected Opp Currency,MTG Backlog,FYTG Backlog,Future FY Backlog,ETG Backlog,Future FY24 Q3 Backlog Jan - Mar,MTG Backlog Opp Currency,FYTG Backlog Opp Currency,Future FY Backlog Opp Currency,ETG Backlog Opp Currency,Future FY24 Q3 Backlog Jan - Mar Opp Currency,Original Budget Hours,Original Budget NSR / Tech Revenue,Original Budget EAF,Original Budget ANSR / Tech Revenue,Original Budget Expenses,Original Budget Labor Costs,Original Budget Uplift Costs,Original Budget Tech Costs,Original Budget Margin Costs,Original Budget Margin,Original Budget Margin %,Original Budget TER,Expense Ratio ETD,Expense Ratio FYTD,Expense Ratio MTD,Expense Ratio CP,Cost Base Ratio ETD,Cost Base Ratio FYTD,Cost Base Ratio MTD,Cost Base Ratio CP,AR Outstanding,AR 0 to 60 daxys,AR 61 to 180 dyas,AR > 180 days,Net (Incl. Tax),Total AR Reserve,AR Reserve excl. Tax,Incl. Tax,Excl. Tax,AR Aging not yet due,AR Aging 0 30 days,AR Aging 31 60 days,AR Aging 61 90 days,AR Aging 91 120 days,AR Aging 121 150 days,AR Aging 151 179 days,AR Aging 180 365 days,AR Aging Above 365 days,Gross (Incl. Tax),Incl. Tax (Lead),Excl. Tax (Lead),AR Aging not yet due Lead,AR Aging 0 30 days Lead,AR Aging 31 60 days Lead,AR Aging 61 90 days Lead,AR Aging 91 120 days Lead,AR Aging 121 150 days Lead,AR Aging 151 179 days Lead,AR Aging 180 365 days Lead,AR Aging Above 365 days Lead,Revenue Days,Billed Revenue Days,Unbilled Revenue Days,ANSR to Accrue,Cap Market/SSC/Others,Cap Market/SSC/Secondment/Others,source_file,Year1,Sub_Folder_1,Sub_Folder_2,Month_Serialized,Week,File_Name,Same FY?,WeekNo,Month
0,FY24,E-67388357,67388357.0,Mercury,TMT,Bangalore,TB085-Quest USGAAP LR &YE March 2023,2023-04-24 00:00:00,NaN,NaN,NaN,2023-04-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,O-3642336,TB0E7-QuEST USGAAP LR and Audit March 23,External Opportunity,2193879.0,"Ghosh, Subh",NaN,NaN,NaN,M,Manual Sharing,EMEIA,India,India,Karnataka,IN - EXTERNAL ENGAGEMENTS KA,IN04,INR,Created,EP,External Project,Net Due on Invoice Date,2193879.0,IN010J42567,Subh Ghosh,IIC,"Ghosh, Subh",India,India,Haryana,Assurance,Audit,Audit (CORE),PT1,Partner,NaN,NaN,45815872,IN010J24645,Rahul Bansal,"Bansal, Rahul",India,India,Karnataka,Assurance,Audit,Audit (CORE),SM1,Senior Manager,NaN,NaN,NaN,NaN,2193879.0,"Ghosh, Subh",45815872.0,"Bansal, Rahul",11421164,60891308.0,595235103.0,QUEST GLOBAL SERVICES PTE. LTD.,QUEST GLOBAL SERVICES PTE. LTD.,N,Professional Firms & Services,tbd - PFS,Net Due on Invoice Date,595235103,QUEST GLOBAL SERVICES PTE. LTD.,QuEST Global,1.0,Core,Professional Firms & Services,tbd - PFS,United Kingdom Geo,IN04101091,IN04-StdR-1-Audit-P09,Assurance,Audit,Audit (CORE),Undefined,Audit Services,10067.0,Financial Statement Audit (10067),10067.0,Financial Statement Audit (10067),Chargeable only within the legal entity / comp...,No,NaN,NaN,NaN,no,Not required,NaN,NaN,NaN,Lean,Labor,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,INR,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,INPUT__FY24__FY24__WK 10__Engagement List Wk 10,FY24,FY24,FY24,FY24,10,Engagement List Wk 10,Y,10,03 Sep
1,FY24,E-67681344,67681344.0,Mercury,IIC,East,Industrial Energy Limited,2023-09-04 00:00:00,NaN,NaN,NaN,2023-09-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,O-4285329,IEL Statutory and Tax Audit March 2023-24,External Opportunity,45001258.0,"Agarwal, Sanjay",NaN,NaN,NaN,M,Manual Sharing,EMEIA,India,India,West Bengal,IN - EXTERNAL ENGAGEMENTS WB,IN02,INR,Created,EP,External Project,Net Due on Invoice Date,45001258.0,IN010C00114,Sanjay Agarwal,IIC,"Agarwal, Sanjay",India,India,West Bengal,Assurance,Audit,Audit (CORE),ED1,Executive Director,NaN,NaN,45804313,IN010J05810,Ketan Jaiswal,"Jaiswal, Ketan",India,India,West Bengal,Assurance,Audit,Audit (CORE),SM1,Senior Manager,45000582.0,"Sethi, Arvind",NaN,NaN,45001258.0,"Agarwal, Sanjay",45804313.0,"Jaiswal, Ketan",11881305,60728274.0,650272193.0,Industrial Energy Limited,Industrial Energy Limited,N,Power & Utilities,tbd - P&U,Net Due on Invoice Date,650048044,TATA SONS PRIVATE LIMITED,Industrial Energy Limited,2.0,G360,Advanced Manufacturing,Industrial Conglomerates,India Geo,IN02101191,IN02-StdR-1-Audit-P19,Assurance,Audit,Audit (CORE),Undefined,Audit Services,10067.0,Financial Statement Audit (10067),10067.0,Financial Statement Audit (10067),Fully interoperable,No,NaN,NaN,NaN,no,Not required,PACE 27965530.7.0,X,0.0,Lean,Labor,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,INR,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2800000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,INPUT__FY24__FY24__WK 10__Engagement List Wk 10,FY24,FY24,FY24,FY24,10,Engagement List Wk 10,Y,10,03 Sep
2,FY24,E-67694116,67694116.0,Mercury,IIC,Mumbai,Vini - ESG Support - Materiality & GHG,2023-09-08 00:00:00,NaN,NaN,NaN,2023-09-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,O-3863603,ZM071 - ESG Support for Cosmetics Company,External Opportunity,45000564.0,"Kalia, Chaitanya",NaN,NaN,NaN,M,Manual Sharing,EMEIA,India,India,Maharashtra,IN - EXTERNAL ENGAGEMENTS MH,IN04,INR,Created,EP,External Project,Net Due on Invoice Date,45000564.0,IN010G00008,Chaitanya Kalia,CCaSS,"Kalia, Chaitanya",India,India,Maharashtra,Assurance,CCaSS,CCaSS (CORE),PT2,Partner,NaN,NaN,3289135,IN010K16914,Piyush Kumar,"Kumar, Piyush",India,India,Gujarat,Assurance,CCaSS,CCaSS (CORE),MG1,Manager,1080475.0,"Sgammato, Anthony",NaN,NaN,45000564.0,"Kalia, Chaitanya",3289135.0,"Kumar, Piyush",11453641,61202026.0,650630648.0,Vini Cosmetics Private Limited,Vini Cosmetics Private Limited,N,Consumer Products & Retail,Consumer Durables,Net Due on Invoice Date,806256132,KKR & Co. Inc.,Vini Cosmetics Private Limited,2.0,G360,Private Equity,Private Equity,United States of America Geo,IN04109121,IN04-StdR-1-CCaSSServs-P12,Assurance,CCaSS,CCaSS - ESG and Sustainability,Undefined,CCaSS,10505.0,F.1.1 Sustainability Advisory (10505),10505.0,F.1.1 Sustainability Advisory (10505),Fully interoperable,No,NaN,NaN,NaN,no,Not required,PACE 27501833.1.0,X,0.0,Lean,Labor,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,INR,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,800000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,INPUT__FY24__FY24__WK 10__Engagement List Wk 10,FY24,FY24,FY24,FY24,10,Engagement List Wk 10,Y,10,03 Sep
3,FY24,E-67203860,67203860.0,Mercury,TMT,Delhi,TD004-Uniphore software systems private,2023-02-10 00:00:00,NaN,NaN,NaN,2023-02-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,O-3732580,TD0E7-Uniphore accounting support,External Opportunity,2054892.0,"Agrawal, Ayush",NaN,NaN,NaN,M,Manual Sharing,EMEIA,India,India,Haryana,IN - EXTERNAL ENGAGEMENTS HR,IN04,INR,Created,EP,External Project,Net Due on Invoice Date,2054892.0,IN010J28422,Ayush Agrawal,FAAS,"Agrawal, Ayush",India,India,Haryana,Assurance,FAAS,FAAS (CORE),PT1,Partner,NaN,NaN,2100737,IN010J33480,Richa Goel,"Goel, Richa",India,India,Haryana,Assurance,FAAS,FAAS (CORE),MG1,Manager,NaN,NaN,NaN,NaN,2054892.0,"Agrawal, Ayush",2100737.0,"Goel, Richa",12239544,61480911.0,650668887.0,UNIPHORE SOFTWARE SYSTEMS PRIVATE LIMITED,UNIPHORE SOFTWARE SYSTEMS PRIVATE LIMITED,N,Technology,"Software, SaaS, Apps",Net Due on Invoice Date,650668887,UNIPHORE SOFTWARE SYSTEMS PRIVATE LIMITED,Uniphore Software Systems Private Limite,2.0,Focus Core,Technology,"Software, SaaS, Apps",India Geo,IN04108071,IN04-StdR-1-FAAS-P07,Assurance,FAAS,FAAS - Enhanced Corporate Reporting and Accoun...,Undefined,Accounting & Reporting,10119.0,A.1.5 Acct Support for Special Matters (10119),10119.0,A.1.5 Acct Support for Special Matters (10119),Fully interoperable,No,NaN,NaN,NaN,no,Not required,PACE 0027308486,NaN,NaN,Lean,Labor,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,INR,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,INPUT__FY24__FY24__WK 10__Engagement List Wk 10,FY24,FY24,FY24,FY24,10,Engagement List Wk 10,Y,10,03 Sep
4,FY24,E-67462617,67462617.0,Mercury,IIC,Mumbai,GHG Inventorisation and CO2 Savings,2023-06-06 00:00:00,NaN,NaN,NaN,2023-06-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,O-4215978,ZM062 - GHG Inventorisation and CO2 Savings,External Opportunity,45000564.0,"Kalia, Chaitanya",NaN,NaN,NaN,M,Manual Sharing,EMEIA,India,India,Maharashtra,IN - EXTERNAL ENGAGEMENTS MH,IN04,INR,Created,EP,External Project,Net Due on Invoice Date,45000564.0,IN010G00008,Chaitanya Kalia,CCaSS,"Kalia, Chaitanya",India,India,Maharashtra,Assurance,CCaSS,CCaSS (CORE),PT2,Partner,NaN,NaN,3123147,IN010J93263,Aditya Nandanpawar,"Nandanpawar, Aditya",India,India,Maharashtra,Assurance,CCaSS,CCaSS (CORE),MG1,Manager,45000582.0,"Sethi, Arvind",NaN,NaN,45000564.0,"Kalia, Chaitanya",3123147.0,"Nandanpawar, Aditya",11230405,60232649.0,650047459.0,THE TATA POWER COMPANY LIMITED,THE TATA POWER COMPANY LIMITED,N,Power & Utilities,tbd - P&U,Net Due on Invoice Date,650048044,TATA SONS PRIVATE LIMITED,Tata Power,2.0,G360,Advanced Manufacturing,Industrial Conglomerates,India Geo,IN04109121,IN04-StdR-1-CCaSSServs-P12,Assurance,CCaSS,CCaSS - Sustainability Reporting and Assurance...,Undefined,CCaSS,10508.0,F.2.1 Non-Financial reporting Advisory (10508),10508.0,F.2.1 Non-Financial reporting Advisory (10508),Fully interoperable,No,NaN,NaN,NaN,no,Not required,PACE 27877174.1.0,X,NaN,Lean,Labor,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,INR,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,INPUT__FY24__FY24__WK 10__Engagement List Wk 10,FY24,FY24,FY24,FY24,10,Engagement List Wk 10,Y,10,03 Sep

In [31]:
# ------------------------------------------------
# üìä COLUMN STRUCTURE COMPARISON ‚Äî FY24 | FY25 | FY25_FY26
# ------------------------------------------------

import pandas as pd
from IPython.display import display, Markdown

# --- Create column sets ---
set_fy24 = set(df_fy24.columns)
set_fy25 = set(df_fy25.columns)
set_fy25fy26 = set(df_fy25fy26.columns)

# --- Basic column counts ---
print("üß© COLUMN COUNTS")
print(f"FY24: {len(set_fy24)} columns")
print(f"FY25: {len(set_fy25)} columns")
print(f"FY25_FY26: {len(set_fy25fy26)} columns\n")

# --- Common columns ---
common_cols = set_fy24 & set_fy25 & set_fy25fy26
print(f"‚úÖ Common columns across all 3 files: {len(common_cols)}\n")

# Display first 20 common columns as a sample
print("üß± Sample Common Columns:")
for i, col in enumerate(sorted(list(common_cols))[:20]):
    print(f"{i+1:3d}. {col}")

# --- Unique columns per dataset ---
unique_fy24 = set_fy24 - (set_fy25 | set_fy25fy26)
unique_fy25 = set_fy25 - (set_fy24 | set_fy25fy26)
unique_fy25fy26 = set_fy25fy26 - (set_fy24 | set_fy25)

print("\n‚ö†Ô∏è Unique columns in FY24:", len(unique_fy24))
print(list(unique_fy24)[:15])  # preview first 15

print("\n‚ö†Ô∏è Unique columns in FY25:", len(unique_fy25))
print(list(unique_fy25)[:15])

print("\n‚ö†Ô∏è Unique columns in FY25_FY26:", len(unique_fy25fy26))
print(list(unique_fy25fy26)[:15])

# --- Summary table ---
summary = {
    "FY24": len(set_fy24),
    "FY25": len(set_fy25),
    "FY25_FY26": len(set_fy25fy26),
    "Common to all": len(common_cols),
    "FY24 only": len(unique_fy24),
    "FY25 only": len(unique_fy25),
    "FY25_FY26 only": len(unique_fy25fy26)
}

display(Markdown("### üìã Column Comparison Summary"))
display(pd.DataFrame([summary]))

üß© COLUMN COUNTS
FY24: 347 columns
FY25: 170 columns
FY25_FY26: 134 columns

‚úÖ Common columns across all 3 files: 133

üß± Sample Common Columns:
  1. ANSR - NBP Adj
  2. ANSR - NBP Adj Last WK
  3. ANSR - NBP Adj YTD LW
  4. ANSR / Tech Revenue CP
  5. ANSR / Tech Revenue ETD
  6. ANSR / Tech Revenue FYTD
  7. ANSR / Tech Revenue MTD
  8. ANSR Mercury Projected
  9. ANSR to Accrue
 10. AR > 180 days
 11. AR Aging 0 30 days
 12. AR Aging 121 150 days
 13. AR Aging 151 179 days
 14. AR Aging 180 365 days
 15. AR Aging 31 60 days
 16. AR Aging 61 90 days
 17. AR Aging 91 120 days
 18. AR Aging Above 365 days
 19. AR Aging not yet due
 20. AR Outstanding

‚ö†Ô∏è Unique columns in FY24: 213
['CP Unbilled Fees', 'MTD Unbilled Hours', 'Engagement Manager Activity', 'Billing Manager', 'MTD Tech Product Costs', 'Engagement Type', 'MTD Unbilled Expenses', 'NSR Mercury Projected', 'ETD Wk26', 'Opportunity Currency', 'ETD Unbilled Hours', 'ETC-P needed', 'ETD Margin Costs', 'Excl. Tax (Lead)', 'Margin % FYTD']

‚ö†Ô∏è Unique columns in FY25: 35
['DA', 'MS-old', 'FAAS EP', 'FAAS Location', 'Assurance PY Actual', 'Prorata Plan', 'FYTD Total Collections', "Audit Partner's MS", 'Staff', 'FYTD AR Collected Tax', 'Assurance Plan', 'CP AR Collected', 'CP AR Collected Tax', 'Plan', 'Partner Location']

‚ö†Ô∏è Unique columns in FY25_FY26: 0
[]

### üìã Column Comparison Summary

   FY24  FY25  FY25_FY26  Common to all  FY24 only  FY25 only  FY25_FY26 only
0   347   170        134            133        213         35               0

In [32]:
# ------------------------------------------------
# üîÑ MERGE FY24, FY25, FY25_FY26 USING COMMON COLUMNS ONLY
# ------------------------------------------------

# Convert common_cols to a sorted list for consistent ordering
common_cols_list = sorted(list(common_cols))

# Filter each DataFrame to include only these columns
df_fy24_common = df_fy24[common_cols_list].copy()
df_fy25_common = df_fy25[common_cols_list].copy()
df_fy25fy26_common = df_fy25fy26[common_cols_list].copy()

# Concatenate all 3
df = pd.concat([df_fy24_common, df_fy25_common, df_fy25fy26_common], ignore_index=True)

# ------------------------------------------------
# ‚úÖ Check results
# ------------------------------------------------
print(f"‚úÖ Merged dataset created successfully ‚Üí shape: {df.shape}")
print("\nüìä Year distribution:")
print(df['Year'].value_counts(dropna=False))

print("\nüìã Sample data:")
display(df.head(5))

‚úÖ Merged dataset created successfully ‚Üí shape: (2986151, 133)

üìä Year distribution:
Year
FY25    2147440
FY24     559769
FY26     278942
Name: count, dtype: int64

üìã Sample data:

,ANSR - NBP Adj,ANSR - NBP Adj Last WK,ANSR - NBP Adj YTD LW,ANSR / Tech Revenue CP,ANSR / Tech Revenue ETD,ANSR / Tech Revenue FYTD,ANSR / Tech Revenue MTD,ANSR Mercury Projected,ANSR to Accrue,AR > 180 days,AR Aging 0 30 days,AR Aging 121 150 days,AR Aging 151 179 days,AR Aging 180 365 days,AR Aging 31 60 days,AR Aging 61 90 days,AR Aging 91 120 days,AR Aging Above 365 days,AR Aging not yet due,AR Outstanding,AR Reserve ETD,AR Reserve FYTD,Account,Account ID,Account Name,Billed Expenses CP,Billed Expenses ETD,Billed Expenses FYTD,Billed Expenses MTD,Billed Fees CP,Billed Fees ETD,Billed Fees FYTD,Billed Fees MTD,Billed Revenue Days,CP Labor Costs,CP Total Collections,Cap Market/SSC/Others,Cap Market/SSC/Secondment/Others,Charged Hours CP,Charged Hours ETD,Charged Hours FYTD,Charged Hours MTD,Charged Hours Mercury Projected,Client,Client DUNS,Client ID,Client Name,Client Sector,Client Sub Sector,EAF % Current,EAF Reserve CP,EAF Reserve ETD,EAF Reserve FYTD,EAF Reserve MTD,EM,EM GPN,EP,EP GPN,ETD AR Collected,ETD AR Collected Tax,ETD Labor Costs,ETD Total Collections,ETD Unbilled Expenses,Eng ID,Engagement,Engagement ID,Engagement Manager,Engagement Manager GUI,Engagement Manager Province,Engagement Manager Service Line,Engagement Manager Sub Service Line,Engagement Partner,Engagement Partner GUI,Engagement Partner Province,Engagement Partner Service Line,Engagement Province,Engagement Service,Engagement Service Code,Engagement Status,Engagement Sub Service Line,Expenses CP,Expenses FYTD,Expenses MTD,Expenses Mercury Projected,FYTD Collections,FYTD Labor Costs,FYTD Unbilled Expenses,File_Name,GFIS CID,Initial EAF %,Last Expenses Charged Date,Last Invoice Issued Date,Last Time Charged Date,Location,MS,MTD Labor Costs,Month,Month_Serialized,NBP,NUI ETD,Neg WIP,Opportunity,Opportunity ID,Opportunity Partner,Opportunity Partner ID,Partner BU,Release Date,Revenue Days,SEC Indicator,Same FY?,Service Offering,Standard/Lean Eng Indicator,Sub_Folder_1,Sub_Folder_2,TER CP,TER ETD,TER FYTD,TER MTD,TER Mercury Projected,Total Billed CP,Total Billed ETD,Total Billed FYTD,Total Billed MTD,Transaction Service,Transaction Service Code,Unbilled Revenue Days,WIP 0 to 60 Days,WIP 61 to 180 Days,WIP > 180 Days,Week,Year,Year1,source_file
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QUEST GLOBAL SERVICES PTE. LTD.,595235103,QuEST Global,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,0.0,0.0,0.0,0.0,0.0,QUEST GLOBAL SERVICES PTE. LTD.,595235103.0,11421164,QUEST GLOBAL SERVICES PTE. LTD.,Professional Firms & Services,tbd - PFS,0.0,0.0,0.0,0.0,0.0,Rahul Bansal,IN010J24645,Subh Ghosh,IN010J42567,0.0,0.0,0.0,0.0,0.0,67388357.0,TB085-Quest USGAAP LR &YE March 2023,E-67388357,"Bansal, Rahul",45815872,Karnataka,Assurance,Audit,"Ghosh, Subh",2193879.0,Haryana,Assurance,Karnataka,Financial Statement Audit (10067),10067.0,Created,Audit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Engagement List Wk 10,60891308.0,NaN,NaN,NaN,NaN,Bangalore,TMT,0.0,03 Sep,FY24,0.0,0.0,0.0,TB0E7-QuEST USGAAP LR and Audit March 23,O-3642336,"Ghosh, Subh",2193879.0,IIC,NaN,0.0,N,Y,Audit Services,Lean,FY24,FY24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Financial Statement Audit (10067),10067.0,0.0,0.0,0.0,0.0,10,FY24,FY24,INPUT__FY24__FY24__WK 10__Engagement List Wk 10
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TATA SONS PRIVATE LIMITED,650048044,Industrial Energy Limited,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,0.0,0.0,0.0,0.0,0.0,Industrial Energy Limited,650272193.0,11881305,Industrial Energy Limited,Power & Utilities,tbd - P&U,0.0,0.0,0.0,0.0,0.0,Ketan Jaiswal,IN010J05810,Sanjay Agarwal,IN010C00114,0.0,0.0,0.0,0.0,0.0,67681344.0,Industrial Energy Limited,E-67681344,"Jaiswal, Ketan",45804313,West Bengal,Assurance,Audit,"Agarwal, Sanjay",45001258.0,West Bengal,Assurance,West Bengal,Financial Statement Audit (10067),10067.0,Created,Audit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Engagement List Wk 10,60728274.0,NaN,NaN,NaN,NaN,East,IIC,0.0,03 Sep,FY24,0.0,0.0,0.0,IEL Statutory and Tax Audit March 2023-24,O-4285329,"Agarwal, Sanjay",45001258.0,IIC,NaN,0.0,N,Y,Audit Services,Lean,FY24,FY24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Financial Statement Audit (10067),10067.0,0.0,0.0,0.0,0.0,10,FY24,FY24,INPUT__FY24__FY24__WK 10__Engagement List Wk 10
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,KKR & Co. Inc.,806256132,Vini Cosmetics Private Limited,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,0.0,0.0,0.0,0.0,0.0,Vini Cosmetics Private Limited,650630648.0,11453641,Vini Cosmetics Private Limited,Consumer Products & Retail,Consumer Durables,0.0,0.0,0.0,0.0,0.0,Piyush Kumar,IN010K16914,Chaitanya Kalia,IN010G00008,0.0,0.0,0.0,0.0,0.0,67694116.0,Vini - ESG Support - Materiality & GHG,E-67694116,"Kumar, Piyush",3289135,Gujarat,Assurance,CCaSS,"Kalia, Chaitanya",45000564.0,Maharashtra,Assurance,Maharashtra,F.1.1 Sustainability Advisory (10505),10505.0,Created,CCaSS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Engagement List Wk 10,61202026.0,NaN,NaN,NaN,NaN,Mumbai,IIC,0.0,03 Sep,FY24,0.0,0.0,0.0,ZM071 - ESG Support for Cosmetics Company,O-3863603,"Kalia, Chaitanya",45000564.0,CCaSS,NaN,0.0,N,Y,CCaSS,Lean,FY24,FY24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,F.1.1 Sustainability Advisory (10505),10505.0,0.0,0.0,0.0,0.0,10,FY24,FY24,INPUT__FY24__FY24__WK 10__Engagement List Wk 10
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UNIPHORE SOFTWARE SYSTEMS PRIVATE LIMITED,650668887,Uniphore Software Systems Private Limite,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,0.0,0.0,0.0,0.0,0.0,UNIPHORE SOFTWARE SYSTEMS PRIVATE LIMITED,650668887.0,12239544,UNIPHORE SOFTWARE SYSTEMS PRIVATE LIMITED,Technology,"Software, SaaS, Apps",0.0,0.0,0.0,0.0,0.0,Richa Goel,IN010J33480,Ayush Agrawal,IN010J28422,0.0,0.0,0.0,0.0,0.0,67203860.0,TD004-Uniphore software systems private,E-67203860,"Goel, Richa",2100737,Haryana,Assurance,FAAS,"Agrawal, Ayush",2054892.0,Haryana,Assurance,Haryana,A.1.5 Acct Support for Special Matters (10119),10119.0,Created,FAAS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Engagement List Wk 10,61480911.0,NaN,NaN,NaN,NaN,Delhi,TMT,0.0,03 Sep,FY24,0.0,0.0,0.0,TD0E7-Uniphore accounting support,O-3732580,"Agrawal, Ayush",2054892.0,FAAS,NaN,0.0,N,Y,Accounting & Reporting,Lean,FY24,FY24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,A.1.5 Acct Support for Special Matters (10119),10119.0,0.0,0.0,0.0,0.0,10,FY24,FY24,INPUT__FY24__FY24__WK 10__Engagement List Wk 10
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TATA SONS PRIVATE LIMITED,650048044,Tata Power,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,0.0,0.0,0.0,0.0,0.0,THE TATA POWER COMPANY LIMITED,650047459.0,11230405,THE TATA POWER COMPANY LIMITED,Power & Utilities,tbd - P&U,0.0,0.0,0.0,0.0,0.0,Aditya Nandanpawar,IN010J93263,Chaitanya Kalia,IN010G00008,0.0,0.0,0.0,0.0,0.0,67462617.0,GHG Inventorisation and CO2 Savings,E-67462617,"Nandanpawar, Aditya",3123147,Maharashtra,Assurance,CCaSS,"Kalia, Chaitanya",45000564.0,Maharashtra,Assurance,Maharashtra,F.2.1 Non-Financial reporting Advisory (10508),10508.0,Created,CCaSS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Engagement List Wk 10,60232649.0,NaN,NaN,NaN,NaN,Mumbai,IIC,0.0,03 Sep,FY24,0.0,0.0,0.0,ZM062 - GHG Inventorisation and CO2 Savings,O-4215978,"Kalia, Chaitanya",45000564.0,CCaSS,NaN,0.0,N,Y,CCaSS,Lean,FY24,FY24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,F.2.1 Non-Financial reporting Advisory (10508),10508.0,0.0,0.0,0.0,0.0,10,FY24,FY24,INPUT__FY24__FY24__WK 10__Engagement List Wk 10

In [33]:
df.shape

(2986151, 133)

In [34]:
print(f"‚úÖ Total columns in df: {len(df.columns)}\n")

for i, col in enumerate(df.columns, start=1):
    print(f"{i:3d}. {col}")

‚úÖ Total columns in df: 133

  1. ANSR - NBP Adj
  2. ANSR - NBP Adj Last WK
  3. ANSR - NBP Adj YTD LW
  4. ANSR / Tech Revenue CP
  5. ANSR / Tech Revenue ETD
  6. ANSR / Tech Revenue FYTD
  7. ANSR / Tech Revenue MTD
  8. ANSR Mercury Projected
  9. ANSR to Accrue
 10. AR > 180 days
 11. AR Aging 0 30 days
 12. AR Aging 121 150 days
 13. AR Aging 151 179 days
 14. AR Aging 180 365 days
 15. AR Aging 31 60 days
 16. AR Aging 61 90 days
 17. AR Aging 91 120 days
 18. AR Aging Above 365 days
 19. AR Aging not yet due
 20. AR Outstanding
 21. AR Reserve ETD
 22. AR Reserve FYTD
 23. Account
 24. Account ID
 25. Account Name
 26. Billed Expenses CP
 27. Billed Expenses ETD
 28. Billed Expenses FYTD
 29. Billed Expenses MTD
 30. Billed Fees CP
 31. Billed Fees ETD
 32. Billed Fees FYTD
 33. Billed Fees MTD
 34. Billed Revenue Days
 35. CP Labor Costs
 36. CP Total Collections
 37. Cap Market/SSC/Others
 38. Cap Market/SSC/Secondment/Others
 39. Charged Hours CP
 40. Charged Hours ETD
 41. Charged Hours FYTD
 42. Charged Hours MTD
 43. Charged Hours Mercury Projected
 44. Client
 45. Client DUNS
 46. Client ID
 47. Client Name
 48. Client Sector
 49. Client Sub Sector
 50. EAF % Current
 51. EAF Reserve CP
 52. EAF Reserve ETD
 53. EAF Reserve FYTD
 54. EAF Reserve MTD
 55. EM
 56. EM GPN
 57. EP
 58. EP GPN
 59. ETD AR Collected
 60. ETD AR Collected Tax
 61. ETD Labor Costs
 62. ETD Total Collections
 63. ETD Unbilled Expenses
 64. Eng ID
 65. Engagement
 66. Engagement ID
 67. Engagement Manager
 68. Engagement Manager GUI
 69. Engagement Manager Province
 70. Engagement Manager Service Line
 71. Engagement Manager Sub Service Line
 72. Engagement Partner
 73. Engagement Partner GUI
 74. Engagement Partner Province
 75. Engagement Partner Service Line
 76. Engagement Province
 77. Engagement Service
 78. Engagement Service Code
 79. Engagement Status
 80. Engagement Sub Service Line
 81. Expenses CP
 82. Expenses FYTD
 83. Expenses MTD
 84. Expenses Mercury Projected
 85. FYTD Collections
 86. FYTD Labor Costs
 87. FYTD Unbilled Expenses
 88. File_Name
 89. GFIS CID
 90. Initial EAF %
 91. Last Expenses Charged Date
 92. Last Invoice Issued Date
 93. Last Time Charged Date
 94. Location
 95. MS
 96. MTD Labor Costs
 97. Month
 98. Month_Serialized
 99. NBP
100. NUI ETD
101. Neg WIP
102. Opportunity
103. Opportunity ID
104. Opportunity Partner
105. Opportunity Partner ID
106. Partner BU
107. Release Date
108. Revenue Days
109. SEC Indicator
110. Same FY?
111. Service Offering
112. Standard/Lean Eng Indicator
113. Sub_Folder_1
114. Sub_Folder_2
115. TER CP
116. TER ETD
117. TER FYTD
118. TER MTD
119. TER Mercury Projected
120. Total Billed CP
121. Total Billed ETD
122. Total Billed FYTD
123. Total Billed MTD
124. Transaction Service
125. Transaction Service Code
126. Unbilled Revenue Days
127. WIP 0 to 60 Days
128. WIP 61 to 180 Days
129. WIP > 180 Days
130. Week
131. Year
132. Year1
133. source_file

In [35]:
output_path = os.path.join(FOLDER, "merged_training_data_common_cols.csv")

# Save file with UTF-8 encoding
df.to_csv(output_path, index=False, encoding="utf-8-sig")

print(f"‚úÖ Merged dataset saved successfully!\nüìÇ File path: {output_path}")
print(f"üìä Shape: {df.shape}")

‚úÖ Merged dataset saved successfully!
üìÇ File path: .\merged_training_data_common_cols.csv
üìä Shape: (2986151, 133)

In [36]:
df["Month"].value_counts()

Month
SEP       251954
AUG       240837
APR       231450
JUL       213683
JAN       211402
FEB       197202
JUN       193882
OCT       193586
MAY       189232
MAR       180086
DEC       163736
NOV       159332
12 Jun    136524
11 May     51930
10 Apr     49958
09 Mar     47619
07 Jan     44533
06 Dec     42569
05 Nov     41413
04 Oct     39780
03 Sep     28520
02 Aug     27666
01 Jul     26208
08 Feb     23049
Name: count, dtype: int64

In [37]:
df.head()

,ANSR - NBP Adj,ANSR - NBP Adj Last WK,ANSR - NBP Adj YTD LW,ANSR / Tech Revenue CP,ANSR / Tech Revenue ETD,ANSR / Tech Revenue FYTD,ANSR / Tech Revenue MTD,ANSR Mercury Projected,ANSR to Accrue,AR > 180 days,AR Aging 0 30 days,AR Aging 121 150 days,AR Aging 151 179 days,AR Aging 180 365 days,AR Aging 31 60 days,AR Aging 61 90 days,AR Aging 91 120 days,AR Aging Above 365 days,AR Aging not yet due,AR Outstanding,AR Reserve ETD,AR Reserve FYTD,Account,Account ID,Account Name,Billed Expenses CP,Billed Expenses ETD,Billed Expenses FYTD,Billed Expenses MTD,Billed Fees CP,Billed Fees ETD,Billed Fees FYTD,Billed Fees MTD,Billed Revenue Days,CP Labor Costs,CP Total Collections,Cap Market/SSC/Others,Cap Market/SSC/Secondment/Others,Charged Hours CP,Charged Hours ETD,Charged Hours FYTD,Charged Hours MTD,Charged Hours Mercury Projected,Client,Client DUNS,Client ID,Client Name,Client Sector,Client Sub Sector,EAF % Current,EAF Reserve CP,EAF Reserve ETD,EAF Reserve FYTD,EAF Reserve MTD,EM,EM GPN,EP,EP GPN,ETD AR Collected,ETD AR Collected Tax,ETD Labor Costs,ETD Total Collections,ETD Unbilled Expenses,Eng ID,Engagement,Engagement ID,Engagement Manager,Engagement Manager GUI,Engagement Manager Province,Engagement Manager Service Line,Engagement Manager Sub Service Line,Engagement Partner,Engagement Partner GUI,Engagement Partner Province,Engagement Partner Service Line,Engagement Province,Engagement Service,Engagement Service Code,Engagement Status,Engagement Sub Service Line,Expenses CP,Expenses FYTD,Expenses MTD,Expenses Mercury Projected,FYTD Collections,FYTD Labor Costs,FYTD Unbilled Expenses,File_Name,GFIS CID,Initial EAF %,Last Expenses Charged Date,Last Invoice Issued Date,Last Time Charged Date,Location,MS,MTD Labor Costs,Month,Month_Serialized,NBP,NUI ETD,Neg WIP,Opportunity,Opportunity ID,Opportunity Partner,Opportunity Partner ID,Partner BU,Release Date,Revenue Days,SEC Indicator,Same FY?,Service Offering,Standard/Lean Eng Indicator,Sub_Folder_1,Sub_Folder_2,TER CP,TER ETD,TER FYTD,TER MTD,TER Mercury Projected,Total Billed CP,Total Billed ETD,Total Billed FYTD,Total Billed MTD,Transaction Service,Transaction Service Code,Unbilled Revenue Days,WIP 0 to 60 Days,WIP 61 to 180 Days,WIP > 180 Days,Week,Year,Year1,source_file
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QUEST GLOBAL SERVICES PTE. LTD.,595235103,QuEST Global,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,0.0,0.0,0.0,0.0,0.0,QUEST GLOBAL SERVICES PTE. LTD.,595235103.0,11421164,QUEST GLOBAL SERVICES PTE. LTD.,Professional Firms & Services,tbd - PFS,0.0,0.0,0.0,0.0,0.0,Rahul Bansal,IN010J24645,Subh Ghosh,IN010J42567,0.0,0.0,0.0,0.0,0.0,67388357.0,TB085-Quest USGAAP LR &YE March 2023,E-67388357,"Bansal, Rahul",45815872,Karnataka,Assurance,Audit,"Ghosh, Subh",2193879.0,Haryana,Assurance,Karnataka,Financial Statement Audit (10067),10067.0,Created,Audit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Engagement List Wk 10,60891308.0,NaN,NaN,NaN,NaN,Bangalore,TMT,0.0,03 Sep,FY24,0.0,0.0,0.0,TB0E7-QuEST USGAAP LR and Audit March 23,O-3642336,"Ghosh, Subh",2193879.0,IIC,NaN,0.0,N,Y,Audit Services,Lean,FY24,FY24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Financial Statement Audit (10067),10067.0,0.0,0.0,0.0,0.0,10,FY24,FY24,INPUT__FY24__FY24__WK 10__Engagement List Wk 10
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TATA SONS PRIVATE LIMITED,650048044,Industrial Energy Limited,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,0.0,0.0,0.0,0.0,0.0,Industrial Energy Limited,650272193.0,11881305,Industrial Energy Limited,Power & Utilities,tbd - P&U,0.0,0.0,0.0,0.0,0.0,Ketan Jaiswal,IN010J05810,Sanjay Agarwal,IN010C00114,0.0,0.0,0.0,0.0,0.0,67681344.0,Industrial Energy Limited,E-67681344,"Jaiswal, Ketan",45804313,West Bengal,Assurance,Audit,"Agarwal, Sanjay",45001258.0,West Bengal,Assurance,West Bengal,Financial Statement Audit (10067),10067.0,Created,Audit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Engagement List Wk 10,60728274.0,NaN,NaN,NaN,NaN,East,IIC,0.0,03 Sep,FY24,0.0,0.0,0.0,IEL Statutory and Tax Audit March 2023-24,O-4285329,"Agarwal, Sanjay",45001258.0,IIC,NaN,0.0,N,Y,Audit Services,Lean,FY24,FY24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Financial Statement Audit (10067),10067.0,0.0,0.0,0.0,0.0,10,FY24,FY24,INPUT__FY24__FY24__WK 10__Engagement List Wk 10
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,KKR & Co. Inc.,806256132,Vini Cosmetics Private Limited,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,0.0,0.0,0.0,0.0,0.0,Vini Cosmetics Private Limited,650630648.0,11453641,Vini Cosmetics Private Limited,Consumer Products & Retail,Consumer Durables,0.0,0.0,0.0,0.0,0.0,Piyush Kumar,IN010K16914,Chaitanya Kalia,IN010G00008,0.0,0.0,0.0,0.0,0.0,67694116.0,Vini - ESG Support - Materiality & GHG,E-67694116,"Kumar, Piyush",3289135,Gujarat,Assurance,CCaSS,"Kalia, Chaitanya",45000564.0,Maharashtra,Assurance,Maharashtra,F.1.1 Sustainability Advisory (10505),10505.0,Created,CCaSS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Engagement List Wk 10,61202026.0,NaN,NaN,NaN,NaN,Mumbai,IIC,0.0,03 Sep,FY24,0.0,0.0,0.0,ZM071 - ESG Support for Cosmetics Company,O-3863603,"Kalia, Chaitanya",45000564.0,CCaSS,NaN,0.0,N,Y,CCaSS,Lean,FY24,FY24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,F.1.1 Sustainability Advisory (10505),10505.0,0.0,0.0,0.0,0.0,10,FY24,FY24,INPUT__FY24__FY24__WK 10__Engagement List Wk 10
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UNIPHORE SOFTWARE SYSTEMS PRIVATE LIMITED,650668887,Uniphore Software Systems Private Limite,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,0.0,0.0,0.0,0.0,0.0,UNIPHORE SOFTWARE SYSTEMS PRIVATE LIMITED,650668887.0,12239544,UNIPHORE SOFTWARE SYSTEMS PRIVATE LIMITED,Technology,"Software, SaaS, Apps",0.0,0.0,0.0,0.0,0.0,Richa Goel,IN010J33480,Ayush Agrawal,IN010J28422,0.0,0.0,0.0,0.0,0.0,67203860.0,TD004-Uniphore software systems private,E-67203860,"Goel, Richa",2100737,Haryana,Assurance,FAAS,"Agrawal, Ayush",2054892.0,Haryana,Assurance,Haryana,A.1.5 Acct Support for Special Matters (10119),10119.0,Created,FAAS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Engagement List Wk 10,61480911.0,NaN,NaN,NaN,NaN,Delhi,TMT,0.0,03 Sep,FY24,0.0,0.0,0.0,TD0E7-Uniphore accounting support,O-3732580,"Agrawal, Ayush",2054892.0,FAAS,NaN,0.0,N,Y,Accounting & Reporting,Lean,FY24,FY24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,A.1.5 Acct Support for Special Matters (10119),10119.0,0.0,0.0,0.0,0.0,10,FY24,FY24,INPUT__FY24__FY24__WK 10__Engagement List Wk 10
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TATA SONS PRIVATE LIMITED,650048044,Tata Power,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,0.0,0.0,0.0,0.0,0.0,THE TATA POWER COMPANY LIMITED,650047459.0,11230405,THE TATA POWER COMPANY LIMITED,Power & Utilities,tbd - P&U,0.0,0.0,0.0,0.0,0.0,Aditya Nandanpawar,IN010J93263,Chaitanya Kalia,IN010G00008,0.0,0.0,0.0,0.0,0.0,67462617.0,GHG Inventorisation and CO2 Savings,E-67462617,"Nandanpawar, Aditya",3123147,Maharashtra,Assurance,CCaSS,"Kalia, Chaitanya",45000564.0,Maharashtra,Assurance,Maharashtra,F.2.1 Non-Financial reporting Advisory (10508),10508.0,Created,CCaSS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Engagement List Wk 10,60232649.0,NaN,NaN,NaN,NaN,Mumbai,IIC,0.0,03 Sep,FY24,0.0,0.0,0.0,ZM062 - GHG Inventorisation and CO2 Savings,O-4215978,"Kalia, Chaitanya",45000564.0,CCaSS,NaN,0.0,N,Y,CCaSS,Lean,FY24,FY24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,F.2.1 Non-Financial reporting Advisory (10508),10508.0,0.0,0.0,0.0,0.0,10,FY24,FY24,INPUT__FY24__FY24__WK 10__Engagement List Wk 10

In [38]:
import pandas as pd
df = pd.read_csv("merged_training_data_common_cols.csv")

C:\Users\FV586VH\AppData\Local\Temp\ipykernel_7764\3882057724.py:2: DtypeWarning: Columns (24,36,37,44,45,46,54,55,56,57,67,72,90,93,94,105) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("merged_training_data_common_cols.csv")

In [39]:
df.shape

(2986151, 133)

In [40]:
df.head()

,ANSR - NBP Adj,ANSR - NBP Adj Last WK,ANSR - NBP Adj YTD LW,ANSR / Tech Revenue CP,ANSR / Tech Revenue ETD,ANSR / Tech Revenue FYTD,ANSR / Tech Revenue MTD,ANSR Mercury Projected,ANSR to Accrue,AR > 180 days,AR Aging 0 30 days,AR Aging 121 150 days,AR Aging 151 179 days,AR Aging 180 365 days,AR Aging 31 60 days,AR Aging 61 90 days,AR Aging 91 120 days,AR Aging Above 365 days,AR Aging not yet due,AR Outstanding,AR Reserve ETD,AR Reserve FYTD,Account,Account ID,Account Name,Billed Expenses CP,Billed Expenses ETD,Billed Expenses FYTD,Billed Expenses MTD,Billed Fees CP,Billed Fees ETD,Billed Fees FYTD,Billed Fees MTD,Billed Revenue Days,CP Labor Costs,CP Total Collections,Cap Market/SSC/Others,Cap Market/SSC/Secondment/Others,Charged Hours CP,Charged Hours ETD,Charged Hours FYTD,Charged Hours MTD,Charged Hours Mercury Projected,Client,Client DUNS,Client ID,Client Name,Client Sector,Client Sub Sector,EAF % Current,EAF Reserve CP,EAF Reserve ETD,EAF Reserve FYTD,EAF Reserve MTD,EM,EM GPN,EP,EP GPN,ETD AR Collected,ETD AR Collected Tax,ETD Labor Costs,ETD Total Collections,ETD Unbilled Expenses,Eng ID,Engagement,Engagement ID,Engagement Manager,Engagement Manager GUI,Engagement Manager Province,Engagement Manager Service Line,Engagement Manager Sub Service Line,Engagement Partner,Engagement Partner GUI,Engagement Partner Province,Engagement Partner Service Line,Engagement Province,Engagement Service,Engagement Service Code,Engagement Status,Engagement Sub Service Line,Expenses CP,Expenses FYTD,Expenses MTD,Expenses Mercury Projected,FYTD Collections,FYTD Labor Costs,FYTD Unbilled Expenses,File_Name,GFIS CID,Initial EAF %,Last Expenses Charged Date,Last Invoice Issued Date,Last Time Charged Date,Location,MS,MTD Labor Costs,Month,Month_Serialized,NBP,NUI ETD,Neg WIP,Opportunity,Opportunity ID,Opportunity Partner,Opportunity Partner ID,Partner BU,Release Date,Revenue Days,SEC Indicator,Same FY?,Service Offering,Standard/Lean Eng Indicator,Sub_Folder_1,Sub_Folder_2,TER CP,TER ETD,TER FYTD,TER MTD,TER Mercury Projected,Total Billed CP,Total Billed ETD,Total Billed FYTD,Total Billed MTD,Transaction Service,Transaction Service Code,Unbilled Revenue Days,WIP 0 to 60 Days,WIP 61 to 180 Days,WIP > 180 Days,Week,Year,Year1,source_file
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QUEST GLOBAL SERVICES PTE. LTD.,595235103,QuEST Global,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,0.0,0.0,0.0,0.0,0.0,QUEST GLOBAL SERVICES PTE. LTD.,595235103.0,11421164,QUEST GLOBAL SERVICES PTE. LTD.,Professional Firms & Services,tbd - PFS,0.0,0.0,0.0,0.0,0.0,Rahul Bansal,IN010J24645,Subh Ghosh,IN010J42567,0.0,0.0,0.0,0.0,0.0,67388357.0,TB085-Quest USGAAP LR &YE March 2023,E-67388357,"Bansal, Rahul",45815872,Karnataka,Assurance,Audit,"Ghosh, Subh",2193879.0,Haryana,Assurance,Karnataka,Financial Statement Audit (10067),10067.0,Created,Audit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Engagement List Wk 10,60891308.0,NaN,NaN,NaN,NaN,Bangalore,TMT,0.0,03 Sep,FY24,0.0,0.0,0.0,TB0E7-QuEST USGAAP LR and Audit March 23,O-3642336,"Ghosh, Subh",2193879.0,IIC,NaN,0.0,N,Y,Audit Services,Lean,FY24,FY24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Financial Statement Audit (10067),10067.0,0.0,0.0,0.0,0.0,10,FY24,FY24,INPUT__FY24__FY24__WK 10__Engagement List Wk 10
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TATA SONS PRIVATE LIMITED,650048044,Industrial Energy Limited,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,0.0,0.0,0.0,0.0,0.0,Industrial Energy Limited,650272193.0,11881305,Industrial Energy Limited,Power & Utilities,tbd - P&U,0.0,0.0,0.0,0.0,0.0,Ketan Jaiswal,IN010J05810,Sanjay Agarwal,IN010C00114,0.0,0.0,0.0,0.0,0.0,67681344.0,Industrial Energy Limited,E-67681344,"Jaiswal, Ketan",45804313,West Bengal,Assurance,Audit,"Agarwal, Sanjay",45001258.0,West Bengal,Assurance,West Bengal,Financial Statement Audit (10067),10067.0,Created,Audit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Engagement List Wk 10,60728274.0,NaN,NaN,NaN,NaN,East,IIC,0.0,03 Sep,FY24,0.0,0.0,0.0,IEL Statutory and Tax Audit March 2023-24,O-4285329,"Agarwal, Sanjay",45001258.0,IIC,NaN,0.0,N,Y,Audit Services,Lean,FY24,FY24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Financial Statement Audit (10067),10067.0,0.0,0.0,0.0,0.0,10,FY24,FY24,INPUT__FY24__FY24__WK 10__Engagement List Wk 10
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,KKR & Co. Inc.,806256132,Vini Cosmetics Private Limited,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,0.0,0.0,0.0,0.0,0.0,Vini Cosmetics Private Limited,650630648.0,11453641,Vini Cosmetics Private Limited,Consumer Products & Retail,Consumer Durables,0.0,0.0,0.0,0.0,0.0,Piyush Kumar,IN010K16914,Chaitanya Kalia,IN010G00008,0.0,0.0,0.0,0.0,0.0,67694116.0,Vini - ESG Support - Materiality & GHG,E-67694116,"Kumar, Piyush",3289135,Gujarat,Assurance,CCaSS,"Kalia, Chaitanya",45000564.0,Maharashtra,Assurance,Maharashtra,F.1.1 Sustainability Advisory (10505),10505.0,Created,CCaSS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Engagement List Wk 10,61202026.0,NaN,NaN,NaN,NaN,Mumbai,IIC,0.0,03 Sep,FY24,0.0,0.0,0.0,ZM071 - ESG Support for Cosmetics Company,O-3863603,"Kalia, Chaitanya",45000564.0,CCaSS,NaN,0.0,N,Y,CCaSS,Lean,FY24,FY24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,F.1.1 Sustainability Advisory (10505),10505.0,0.0,0.0,0.0,0.0,10,FY24,FY24,INPUT__FY24__FY24__WK 10__Engagement List Wk 10
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UNIPHORE SOFTWARE SYSTEMS PRIVATE LIMITED,650668887,Uniphore Software Systems Private Limite,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,0.0,0.0,0.0,0.0,0.0,UNIPHORE SOFTWARE SYSTEMS PRIVATE LIMITED,650668887.0,12239544,UNIPHORE SOFTWARE SYSTEMS PRIVATE LIMITED,Technology,"Software, SaaS, Apps",0.0,0.0,0.0,0.0,0.0,Richa Goel,IN010J33480,Ayush Agrawal,IN010J28422,0.0,0.0,0.0,0.0,0.0,67203860.0,TD004-Uniphore software systems private,E-67203860,"Goel, Richa",2100737,Haryana,Assurance,FAAS,"Agrawal, Ayush",2054892.0,Haryana,Assurance,Haryana,A.1.5 Acct Support for Special Matters (10119),10119.0,Created,FAAS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Engagement List Wk 10,61480911.0,NaN,NaN,NaN,NaN,Delhi,TMT,0.0,03 Sep,FY24,0.0,0.0,0.0,TD0E7-Uniphore accounting support,O-3732580,"Agrawal, Ayush",2054892.0,FAAS,NaN,0.0,N,Y,Accounting & Reporting,Lean,FY24,FY24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,A.1.5 Acct Support for Special Matters (10119),10119.0,0.0,0.0,0.0,0.0,10,FY24,FY24,INPUT__FY24__FY24__WK 10__Engagement List Wk 10
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TATA SONS PRIVATE LIMITED,650048044,Tata Power,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,0.0,0.0,0.0,0.0,0.0,THE TATA POWER COMPANY LIMITED,650047459.0,11230405,THE TATA POWER COMPANY LIMITED,Power & Utilities,tbd - P&U,0.0,0.0,0.0,0.0,0.0,Aditya Nandanpawar,IN010J93263,Chaitanya Kalia,IN010G00008,0.0,0.0,0.0,0.0,0.0,67462617.0,GHG Inventorisation and CO2 Savings,E-67462617,"Nandanpawar, Aditya",3123147,Maharashtra,Assurance,CCaSS,"Kalia, Chaitanya",45000564.0,Maharashtra,Assurance,Maharashtra,F.2.1 Non-Financial reporting Advisory (10508),10508.0,Created,CCaSS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Engagement List Wk 10,60232649.0,NaN,NaN,NaN,NaN,Mumbai,IIC,0.0,03 Sep,FY24,0.0,0.0,0.0,ZM062 - GHG Inventorisation and CO2 Savings,O-4215978,"Kalia, Chaitanya",45000564.0,CCaSS,NaN,0.0,N,Y,CCaSS,Lean,FY24,FY24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,F.2.1 Non-Financial reporting Advisory (10508),10508.0,0.0,0.0,0.0,0.0,10,FY24,FY24,INPUT__FY24__FY24__WK 10__Engagement List Wk 10

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2986151 entries, 0 to 2986150
Columns: 133 entries, ANSR - NBP Adj to source_file
dtypes: float64(79), int64(1), object(53)
memory usage: 3.0+ GB

In [42]:
df.describe()

       ANSR - NBP Adj  ANSR - NBP Adj Last WK  ANSR - NBP Adj YTD LW  ANSR / Tech Revenue CP  ANSR / Tech Revenue ETD  ANSR / Tech Revenue FYTD  ANSR / Tech Revenue MTD  ANSR Mercury Projected  ANSR to Accrue  AR > 180 days  AR Aging 0 30 days  AR Aging 121 150 days  AR Aging 151 179 days  AR Aging 180 365 days  AR Aging 31 60 days  AR Aging 61 90 days  AR Aging 91 120 days  AR Aging Above 365 days  AR Aging not yet due  AR Outstanding  AR Reserve ETD  AR Reserve FYTD  Billed Expenses CP  Billed Expenses ETD  Billed Expenses FYTD  Billed Expenses MTD  Billed Fees CP  Billed Fees ETD  Billed Fees FYTD  Billed Fees MTD  Billed Revenue Days  CP Labor Costs  CP Total Collections  Charged Hours CP  Charged Hours ETD  Charged Hours FYTD  Charged Hours MTD  Charged Hours Mercury Projected  EAF % Current  EAF Reserve CP  EAF Reserve ETD  EAF Reserve FYTD  EAF Reserve MTD  ETD AR Collected  ETD AR Collected Tax  ETD Labor Costs  ETD Total Collections  ETD Unbilled Expenses        Eng ID  Engagement Service Code   Expenses CP  Expenses FYTD  Expenses MTD  Expenses Mercury Projected  FYTD Collections  FYTD Labor Costs  FYTD Unbilled Expenses      GFIS CID  Initial EAF %  MTD Labor Costs           NBP       NUI ETD       Neg WIP  Opportunity Partner ID  Revenue Days        TER CP       TER ETD      TER FYTD       TER MTD  TER Mercury Projected  Total Billed CP  Total Billed ETD  Total Billed FYTD  Total Billed MTD  Transaction Service Code  Unbilled Revenue Days  WIP 0 to 60 Days  WIP 61 to 180 Days  WIP > 180 Days          Week
count    2.975593e+06            2.975593e+06           2.908573e+06            2.974991e+06             2.975005e+06              2.975005e+06             2.974991e+06            2.975593e+06    2.975417e+06   2.975579e+06        2.934899e+06           2.910586e+06           2.910648e+06           2.975579e+06         2.918095e+06         2.912947e+06          2.911567e+06             2.975579e+06          2.912616e+06    2.975579e+06    2.974991e+06     2.974991e+06        2.974991e+06         2.974991e+06          2.974991e+06         2.974991e+06    2.974991e+06     2.974991e+06      2.974991e+06     2.974991e+06         2.975579e+06    2.974991e+06          2.961900e+06      2.974991e+06       2.975005e+06        2.975005e+06       2.974991e+06                     2.975579e+06   2.975593e+06    2.974991e+06     2.974991e+06      2.974991e+06     2.974991e+06      2.975585e+06          2.974997e+06     2.975005e+06           2.974991e+06           2.974991e+06  2.975661e+06             2.975579e+06  2.974991e+06   2.974991e+06  2.974991e+06                2.975579e+06      2.975353e+06      2.975005e+06            2.974991e+06  2.931498e+06   2.935885e+06     2.974991e+06  2.975593e+06  2.975005e+06  2.975585e+06            2.965481e+06  2.975579e+06  2.974991e+06  2.974991e+06  2.974991e+06  2.974991e+06           2.975579e+06     2.974991e+06      2.974997e+06       2.974997e+06      2.974991e+06              2.975579e+06           2.975579e+06      2.690128e+06        1.257321e+06    1.257319e+06  2.986151e+06
mean     5.230243e+05            3.438092e+04           4.999052e+05            2.033157e+04             2.234085e+06              5.240026e+05             5.395947e+04            2.591447e+06    3.908934e+05   5.638134e+03        7.085576e+04           1.616475e+03           9.760582e+02           2.468518e+03         1.804444e+04         5.628270e+03          2.859722e+03             3.169616e+03          2.013887e+04    1.237756e+05    4.150848e+03     2.334897e+02        9.713929e+02         9.524290e+04          2.475234e+04         2.655814e+03    2.115574e+04     2.309237e+06      5.563996e+05     5.747258e+04         7.888196e+00    1.750176e+04          2.212061e+04      8.263490e+00       1.020277e+03        2.068691e+02       2.192136e+01                     1.138880e+03   1.183491e+00    2.889777e+03     2.194980e+05      4.671053e+04     7.780053e+03      2.290272e+06          2.935009e+05     1.906820e+06           2.584228e+06           1.476530e+05  6.009337e+07             1.013078e+04  2.206853e+03   5.763124e+04  6.049914e+03                2.732405e+05      5.746051e+05      4.158653e+05            3.287890e+04  2.575270e+07   2.379932e-01     4.592212e+04  2.075494e+04  7.869260e+04 -8.896206e+04            3.740491e+07  7.910600e+00  2.270427e+04  2.477126e+06  5.818010e+05  6.000889e+04           2.864638e+06     2.212713e+04      2.404462e+06       5.811505e+05      6.012883e+04              1.013078e+04          -6.470208e-01      7.702291e+04        9.246276e+04    1.731070e+04  2.692518e+01
std      3.398739e+06            6.667724e+05           3.301605e+06            3.785422e+05             8.274928e+06              3.399567e+06             6.157785e+05            9.051123e+06    2.612941e+06   1.281736e+05        9.269646e+05           7.248509e+04           5.174691e+04           7.654489e+04         4.230381e+05         1.625716e+05          1.032060e+05             9.755085e+04          6.793365e+05    1.312691e+06    1.032747e+05     7.139380e+04        8.727682e+04         5.323801e+05          2.600529e+05         1.271326e+05    5.640370e+05     8.956411e+06      3.640635e+06     8.804873e+05         4.440497e+01    1.829543e+05          5.921038e+05      7.193975e+01       2.896221e+03        1.127580e+03       1.642642e+02                     3.130190e+03   6.822650e+01    3.904367e+05     4.667188e+06      1.992936e+06     4.804202e+05      8.898289e+06          1.129969e+06     6.305397e+06           9.704168e+06           1.703074e+06  1.089204e+07             1.442677e+02  7.646623e+04   6.853056e+05  1.448699e+05                2.083185e+06      3.560407e+06      2.527017e+06            6.635326e+05  3.017256e+07   9.827582e+01     3.854120e+05  2.150261e+05  1.654101e+06  1.267646e+06            1.638404e+07  1.236940e+02  4.395477e+05  9.178691e+06  3.652131e+06  6.461079e+05           1.002937e+07     5.800321e+05      9.212850e+06       3.750496e+06      9.014405e+05              1.442677e+02           1.239765e+02      1.075370e+06        5.594011e+05    2.173539e+05  1.511535e+01
min     -3.187793e+07           -9.247180e+07          -3.187793e+07           -2.489112e+08            -1.817955e+07             -3.020432e+07            -9.247180e+07           -3.997767e+07   -1.824350e+06  -3.157205e+05       -2.041400e+07          -1.041250e+06          -8.178993e+05          -1.000000e+06        -4.031311e+06        -1.693914e+06         -6.572596e+06            -1.224476e+04         -3.009000e+05   -2.041400e+07   -3.151381e+04    -6.500000e+06       -8.406608e+07        -8.405363e+07         -8.405363e+07        -8.405363e+07   -1.245378e+08    -7.412354e+07     -2.108976e+08    -1.245378e+08        -3.650000e+02   -1.624044e+07         -1.447450e+08     -6.645000e+03      -1.394000e+03       -3.168000e+03      -1.004300e+04                     0.000000e+00  -6.562947e+03   -2.468701e+08    -7.640384e+08     -3.269074e+08    -2.468701e+08     -9.988065e+07         -3.383316e+05    -1.821330e+06          -9.988065e+07          -3.994331e+07  1.234568e+07             1.000100e+04 -2.248731e+07  -9.910144e+06 -2.246846e+07               -1.475270e+07     -2.108976e+08     -7.514085e+06           -3.994331e+07  0.000000e+00  -9.755650e+03    -1.581287e+07  0.000000e+00 -1.950000e+08 -1.950000e+08            1.022886e+06 -3.650000e+02 -2.489112e+08 -7.731072e+07 -6.541266e+07 -9.244144e+07          -3.842102e+07    -1.245378e+08     -7.412354e+07      -2.108976e+08     -1.245378e+08              1.000100e+04          -3.650000e+02     -1.033820e+08        0.000000e+00    0.000000e+00  2.000000e+00
25%      0.000000e+00            0.000000e+00           0.000000e+00            0.000000e+00             1.686284e+05              0.000000e+00             0.000000e+00            2.749981e+05    0.000000e+00   0.000000e+00        0.000000e+00           0.000000e+00           0.000000e+00           0.000000e+00         0.000000e+00         0.000000e+00          0.000000e+00             0.000000e+00          0.000000e+00    0.000000e+00    0.000000e+00     0.000000e+00        0.000000e+00         0.000000e+00          0.000000e+00         0.000000e+00    0.000000e+00     8.500000e+04      0.000000e+00     0.000000e+00         0.000000e+00    0.000000e+00          0.000000e+00      0.000000e+00       7.900000e+01        0.000000e+00       0.000000e+00                     1.050000e+02  -3.803000e-01    0.000000e+00    -1.342032e+05      0.000000e+00     0.000000e+00      4.807458e+04          0.000000e+00     1.255280e+05           5.469300e+04          -3.817230e+03  4.541448e+07             1.006700e+04  0.000000e+00   0.000000e+00  0.000000e+00                0.000000e+00      0.000000e+00      0.000000e+00            0.000000e+00  0.000000e+00  -1.296400e-01     0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00            4.500030e+07  0.000000e+00  0.000000e+00  1.769462e+05  0.000000e+00  0.000000e+00           2.999945e+05     0.000000e+00      8.583333e+04       0.000000e+00      0.000000e+00              1.006700e+04           0.000000e+00      0.000000e+00        0.000000e+00    0.000000e+00  1.300000e+01
50%      0.000000e+00            0.000000e+00           0.000000e+00            0.000000e+00             7.340278e+05              0.000000e+00             0.000000e+00            9.121870e+05    0.000000e+00   0.000000e+00        0.000000e+00           0.000000e+00           0.000000e+00           0.000000e+00         0.000000e+00         0.000000e+00          0.000000e+00             0.000000e+00          0.000000e+00    0.000000e+00    0.000000e+00     0.000000e+00        0.000000e+00         3.619000e+03          0.000000e+00         0.000000e+00    0.000000e+00     6.505600e+05      0.000000e+00     0.000000e+00         0.000000e+00    0.000000e+00          0.000000e+00      0.000000e+00       3.200000e+02        0.000000e+00       0.000000e+00                     3.859000e+02  -7.755000e-02    0.000000e+00     7.483260e+03      0.000000e+00     0.000000e+00      6.004900e+05          5.550516e+04     5.171309e+05           6.867010e+05           0.000000e+00  6.753408e+07             1.006700e+04  0.000000e+00   0.000000e+00  0.000000e+00                6.696810e+03      0.000000e+00      0.000000e+00            0.000000e+00  0.000000e+00   0.000000e+00     0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00            4.500138e+07  0.000000e+00  0.000000e+00  7.771604e+05  0.000000e+00  0.000000e+00           9.784987e+05     0.000000e+00      6.737500e+05       0.000000e+00      0.000000e+00              1.006700e+04           0.000000e+00      0.000000e+00        0.000000e+00    0.000000e+00  2.700000e+01
75%      1.441693e+05            0.000000e+00           1.201765e+05            0.000000e+00             1.976331e+06              1.454460e+05             0.000000e+00            2.252396e+06    8.474600e+02   0.000000e+00        0.000000e+00           0.000000e+00           0.000000e+00           0.000000e+00         0.000000e+00         0.000000e+00          0.000000e+00             0.000000e+00          0.000000e+00    0.000000e+00    0.000000e+00     0.000000e+00        0.000000e+00         5.998500e+04          0.000000e+00         0.000000e+00    0.000000e+00     1.929192e+06      0.000000e+00     0.000000e+00         0.000000e+00    0.000000e+00          0.000000e+00      0.000000e+00       9.386000e+02        5.100000e+01       0.000000e+00                     1.036000e+03   2.478900e-01    0.000000e+00     3.092651e+05      0.000000e+00     0.000000e+00      1.895265e+06          2.670822e+05     1.475114e+06           2.177413e+06           1.713970e+04  6.814517e+07             1.006700e+04  0.000000e+00   0.000000e+00  0.000000e+00                9.798400e+04      2.750000e+04      1.013570e+05            0.000000e+00  6.104587e+07   9.482000e-02     0.000000e+00  0.000000e+00  8.200000e-01  0.000000e+00            4.500439e+07  2.800000e+01  0.000000e+00  2.120828e+06  1.787875e+05  0.000000e+00           2.428538e+06     0.000000e+00      2.005260e+06       0.000000e+00      0.000000e+00              1.006700e+04           1.400000e+01      0.000000e+00        1.200000e-01    0.000000e+00  4.000000e+01
max      3.269074e+08            2.756604e+08           3.218861e+08            7.731130e+07             7.996681e+08              3.269074e+08             2.489112e+08            7.996681e+08    3.586618e+08   9.940563e+06        1.586175e+08           1.886573e+07           1.003387e+07           9.940563e+06         1.045256e+08         3.328084e+07          4.162336e+07             7.714077e+06          2.301000e+08    2.301000e+08    8.209678e+06     8.119529e+06        8.409337e+07         5.287757e+07          3.994331e+07         8.496071e+07    1.950000e+08     7.685604e+08      3.570629e+08     1.950000e+08         3.650000e+02    3.451986e+07          1.950000e+08      1.118350e+04       2.027011e+05        1.030140e+05       2.157950e+04                     2.027011e+05   8.465173e+03    2.468701e+08     1.394145e+08      1.001173e+08     9.328901e+07      7.404996e+08          9.240660e+07     2.661168e+08           8.329062e+08           1.383116e+08  6.943980e+07             1.135900e+04  5.550000e+07   7.322572e+07  5.550242e+07                1.505989e+08      3.270297e+08      2.468112e+08            8.405363e+07  6.189294e+07   9.195515e+03     4.408602e+07  4.528111e+07  1.070315e+08  0.000000e+00            5.100108e+07  3.650000e+02  2.489112e+08  8.010948e+08  3.479002e+08  2.489112e+08           8.011718e+08     1.950000e+08      7.699931e+08       3.832060e+08      1.950000e+08              1.135900e+04           3.650000e+02      1.016962e+08        4.615906e+07    7.412354e+07  5.200000e+01

In [43]:
df.shape

(2986151, 133)

In [44]:
# ------------------------------------------------
# üéØ Create Focused Modeling DataFrame (Selected Columns)
# ------------------------------------------------

# Columns to keep (from your numbered list)
selected_cols = [
    "ANSR / Tech Revenue FYTD",   # (6) ‚Üí label / target
    "AR Outstanding",              # (20)
    "Billed Expenses FYTD",        # (28)
    "Billed Fees FYTD",            # (32)
    "Billed Revenue Days",         # (34)
    "Charged Hours FYTD",          # (41)
    "Client",                      # (44)
    "Client ID",                   # (47)
    "EAF Reserve FYTD",            # (53)
    "ETD Total Collections",       # (62)
    "Engagement Partner",          # (72)
    "Engagement Sub Service Line", # (80)
    "Expenses FYTD",               # (82)
    "FYTD Collections",            # (85)
    "FYTD Labor Costs",            # (86)
    "FYTD Unbilled Expenses",      # (87)
    "Location",                    # (94)
    "MS",                          # (95)
    "NUI ETD",                     # (100)
    "Total Billed FYTD",           # (122)
    "Unbilled Revenue Days",       # (126)
    "Month",
    "Week",                        # (130)
    "Year"                         # (131)
]

# Keep only the columns that exist in df
available_cols = [c for c in selected_cols if c in df.columns]

# Create filtered DataFrame
df_model = df[available_cols].copy()

# ------------------------------------------------
# ‚úÖ Summary
# ------------------------------------------------
print(f"‚úÖ Created focused modeling DataFrame ‚Üí shape: {df_model.shape}")
print(f"üìä Columns included ({len(available_cols)}):")
for i, c in enumerate(available_cols, start=1):
    print(f"{i:2d}. {c}")

# Preview
display(df_model.head(10))

‚úÖ Created focused modeling DataFrame ‚Üí shape: (2986151, 24)
üìä Columns included (24):
 1. ANSR / Tech Revenue FYTD
 2. AR Outstanding
 3. Billed Expenses FYTD
 4. Billed Fees FYTD
 5. Billed Revenue Days
 6. Charged Hours FYTD
 7. Client
 8. Client ID
 9. EAF Reserve FYTD
10. ETD Total Collections
11. Engagement Partner
12. Engagement Sub Service Line
13. Expenses FYTD
14. FYTD Collections
15. FYTD Labor Costs
16. FYTD Unbilled Expenses
17. Location
18. MS
19. NUI ETD
20. Total Billed FYTD
21. Unbilled Revenue Days
22. Month
23. Week
24. Year

   ANSR / Tech Revenue FYTD  AR Outstanding  Billed Expenses FYTD  Billed Fees FYTD  Billed Revenue Days  Charged Hours FYTD                                             Client Client ID  EAF Reserve FYTD  ETD Total Collections Engagement Partner Engagement Sub Service Line  Expenses FYTD  FYTD Collections  FYTD Labor Costs  FYTD Unbilled Expenses   Location   MS  NUI ETD  Total Billed FYTD  Unbilled Revenue Days   Month  Week  Year
0                       0.0             0.0                   0.0               0.0                  0.0                 0.0                    QUEST GLOBAL SERVICES PTE. LTD.  11421164               0.0                    0.0        Ghosh, Subh                       Audit            0.0               0.0               0.0                     0.0  Bangalore  TMT      0.0                0.0                    0.0  03 Sep    10  FY24
1                       0.0             0.0                   0.0               0.0                  0.0                 0.0                          Industrial Energy Limited  11881305               0.0                    0.0    Agarwal, Sanjay                       Audit            0.0               0.0               0.0                     0.0       East  IIC      0.0                0.0                    0.0  03 Sep    10  FY24
2                       0.0             0.0                   0.0               0.0                  0.0                 0.0                     Vini Cosmetics Private Limited  11453641               0.0                    0.0   Kalia, Chaitanya                       CCaSS            0.0               0.0               0.0                     0.0     Mumbai  IIC      0.0                0.0                    0.0  03 Sep    10  FY24
3                       0.0             0.0                   0.0               0.0                  0.0                 0.0          UNIPHORE SOFTWARE SYSTEMS PRIVATE LIMITED  12239544               0.0                    0.0     Agrawal, Ayush                        FAAS            0.0               0.0               0.0                     0.0      Delhi  TMT      0.0                0.0                    0.0  03 Sep    10  FY24
4                       0.0             0.0                   0.0               0.0                  0.0                 0.0                     THE TATA POWER COMPANY LIMITED  11230405               0.0                    0.0   Kalia, Chaitanya                       CCaSS            0.0               0.0               0.0                     0.0     Mumbai  IIC      0.0                0.0                    0.0  03 Sep    10  FY24
5                       0.0             0.0                   0.0               0.0                  0.0                 0.0                 BG LNG Regas India Private Limited  11863382               0.0                    0.0   Todarwal, Poonam                       Audit            0.0               0.0               0.0                     0.0     Mumbai  IIC      0.0                0.0                    0.0  03 Sep    10  FY24
6                       0.0             0.0                   0.0               0.0                  0.0                 0.0              Axis Asset Management Company Limited  12343937               0.0                    0.0     Gandhi, Jayesh                       Audit            0.0               0.0               0.0                     0.0     Mumbai   FS      0.0                0.0                    0.0  03 Sep    10  FY24
7                       0.0             0.0                   0.0               0.0                  0.0                 0.0                Value Point Systems Private Limited  13421371               0.0                    0.0      Ranka, Rishab                       Audit            0.0               0.0               0.0                     0.0     Mumbai  TMT      0.0                0.0                    0.0  03 Sep    10  FY24
8                       0.0             0.0                   0.0               0.0                  0.0                 0.0  The Boston Consulting Group (India) Private Li...  11689472               0.0                    0.0     Agrawal, Ayush                        FAAS            0.0               0.0               0.0                     0.0      Delhi  IIC      0.0                0.0                    0.0  03 Sep    10  FY24
9                       0.0             0.0                   0.0               0.0                  0.0                 0.0                      PayU Payments Private Limited  11920125               0.0                    0.0    Jindal, Praveen                        FAAS            0.0               0.0               0.0                     0.0      Delhi   FS      0.0                0.0                    0.0  03 Sep    10  FY24

In [45]:
df_model.shape

(2986151, 24)

In [46]:
df_model["Month"].value_counts()

Month
SEP       251954
AUG       240837
APR       231450
JUL       213683
JAN       211402
FEB       197202
JUN       193882
OCT       193586
MAY       189232
MAR       180086
DEC       163736
NOV       159332
12 Jun    136524
11 May     51930
10 Apr     49958
09 Mar     47619
07 Jan     44533
06 Dec     42569
05 Nov     41413
04 Oct     39780
03 Sep     28520
02 Aug     27666
01 Jul     26208
08 Feb     23049
Name: count, dtype: int64

In [47]:
# ------------------------------------------------
# üßπ Remove FY26 rows from df_model
# ------------------------------------------------

# Check unique values first (just to confirm)
print("üìÖ Unique Years in dataset:", df_model["Year"].unique())

# Filter only FY24 and FY25
df_model = df_model[df_model["Year"].isin(["FY24", "FY25"])].copy()

# Confirm shape after filtering
print(f"‚úÖ FY26 rows removed ‚Äî new shape: {df_model.shape}")

# Optional: verify again
print("üìÖ Remaining Years:", df_model["Year"].unique())

üìÖ Unique Years in dataset: ['FY24' 'FY25' 'FY26']
‚úÖ FY26 rows removed ‚Äî new shape: (2707209, 24)
üìÖ Remaining Years: ['FY24' 'FY25']

In [48]:
df["Month"].value_counts()

Month
SEP       251954
AUG       240837
APR       231450
JUL       213683
JAN       211402
FEB       197202
JUN       193882
OCT       193586
MAY       189232
MAR       180086
DEC       163736
NOV       159332
12 Jun    136524
11 May     51930
10 Apr     49958
09 Mar     47619
07 Jan     44533
06 Dec     42569
05 Nov     41413
04 Oct     39780
03 Sep     28520
02 Aug     27666
01 Jul     26208
08 Feb     23049
Name: count, dtype: int64

In [49]:
# Keep only the last 3 letters (month abbreviation)
df['Month'] = df['Month'].str[-3:].str.upper()

In [50]:
# ------------------------------------------------
# üíæ Save focused modeling dataset to CSV
# ------------------------------------------------
import os
FOLDER = "."
output_path = os.path.join(FOLDER, "selective_parameters.csv")

# Save with UTF-8 encoding to avoid special character issues
df_model.to_csv(output_path, index=False, encoding="utf-8-sig")

print(f"‚úÖ Focused dataset saved successfully!")
print(f"üìÇ File path: {output_path}")
print(f"üìä Shape: {df_model.shape}")

‚úÖ Focused dataset saved successfully!
üìÇ File path: .\selective_parameters.csv
üìä Shape: (2707209, 24)

In [52]:
df_model.shape

(2707209, 24)

In [56]:
def load_large_csv(file_path, encoding, sep, chunksize=100000):
    """Read large CSV safely using chunks."""
    chunks = []
    total_rows = 0
    for chunk in tqdm(pd.read_csv(file_path, encoding=encoding, sep=sep, chunksize=chunksize, engine="python"),
                      desc=f"Loading {os.path.basename(file_path)}"):
        chunks.append(chunk)
        total_rows += len(chunk)
    df = pd.concat(chunks, ignore_index=True)
    display(Markdown(f"‚úÖ Loaded `{os.path.basename(file_path)}` ‚Üí shape: **{df.shape}**"))
    return df

def show_data_summary(df, name="DataFrame"):
    """Display shape, sample, info, missing %, and numeric stats."""
    display(Markdown(f"### üìä {name} Overview"))
    display(df.head(3))
    display(Markdown(f"**Shape:** {df.shape[0]:,} rows √ó {df.shape[1]:,} columns"))
    display(Markdown("#### üîç Data Info"))
    display(df.info(verbose=False))
    display(Markdown("#### üßÆ Missing Values (%)"))
    display((df.isnull().mean() * 100).round(2).sort_values(ascending=False).head(10))
    display(Markdown("#### üìà Numeric Columns Summary"))
    display(df.describe(include='number').T.head(10))

In [67]:
# Set your working folder (same as this notebook)
FOLDER = "."

# Define file groups
TRAIN_FILES = [
    "consol_alteryx_28-10-2025_FY25.csv",
    "consol_fy25fy26_27-10-2025.csv",
    "consol_alteryx_28-10-2025_FY24"
]
TEST_FILE = "consol_alteryx_28-10-2025_FY26.csv"

In [68]:
from tqdm import tqdm

test_path = os.path.join(FOLDER, TEST_FILE)
enc = "mac_roman"
sep = "¬±"

test_df = load_large_csv(test_path, enc, sep)
show_data_summary(test_df, "TEST DATA (FY26)")

Loading consol_alteryx_28-10-2025_FY26.csv: 0it [00:00, ?it/s]

Loading consol_alteryx_28-10-2025_FY26.csv: 3it [00:31, 10.49s/it]

‚úÖ Loaded `consol_alteryx_28-10-2025_FY26.csv` ‚Üí shape: **(278942, 188)**

### üìä TEST DATA (FY26) Overview

,Year,Engagement ID,Eng ID,MS,Location,Engagement,Release Date,Last Invoice Issued Date,Last Time Charged Date,Last Expenses Charged Date,Opportunity ID,Opportunity,Opportunity Partner ID,Opportunity Partner,Engagement Province,Engagement Status,Engagement Partner GUI,EP GPN,EP,Partner BU,Engagement Partner,Engagement Partner Province,Engagement Partner Service Line,Engagement Manager GUI,EM GPN,EM,Engagement Manager,Engagement Manager Province,Engagement Manager Service Line,Engagement Manager Sub Service Line,Client ID,GFIS CID,Client DUNS,Client,Client Name,SEC Indicator,Client Sector,Client Sub Sector,Account ID,Account,Account Name,Engagement Sub Service Line,Service Offering,Engagement Service Code,Engagement Service,Transaction Service Code,Transaction Service,Standard/Lean Eng Indicator,Charged Hours ETD,Charged Hours FYTD,Charged Hours MTD,Charged Hours CP,Initial EAF %,EAF % Current,EAF Reserve ETD,EAF Reserve FYTD,EAF Reserve MTD,EAF Reserve CP,AR Reserve ETD,AR Reserve FYTD,ANSR / Tech Revenue ETD,ANSR / Tech Revenue FYTD,NBP,ANSR - NBP Adj,ANSR - NBP Adj YTD LW,ANSR - NBP Adj Last WK,ANSR / Tech Revenue MTD,ANSR / Tech Revenue CP,Expenses ETD,Expenses FYTD,Expenses MTD,Expenses CP,ETD Labor Costs,FYTD Labor Costs,MTD Labor Costs,CP Labor Costs,TER ETD,TER FYTD,TER MTD,TER CP,NUI ETD,Neg WIP,WIP 0 to 60 Days,WIP 61 to 180 Days,WIP > 180 Days,Billed Fees ETD,Billed Fees FYTD,Billed Fees MTD,Billed Fees CP,Billed Expenses ETD,Billed Expenses FYTD,Billed Expenses MTD,Billed Expenses CP,Total Billed ETD,Total Billed FYTD,Total Billed MTD,Total Billed CP,ETD Unbilled Expenses,FYTD Unbilled Expenses,ETD AR Collected,ETD AR Collected Tax,ETD Total Collections,FYTD Collections,CP Total Collections,Charged Hours Mercury Projected,ANSR Mercury Projected,Expenses Mercury Projected,TER Mercury Projected,AR Outstanding,AR 0 to 60 daxys,AR 61 to 180 dyas,AR > 180 days,AR Aging not yet due,AR Aging 0 30 days,AR Aging 31 60 days,AR Aging 61 90 days,AR Aging 91 120 days,AR Aging 121 150 days,AR Aging 151 179 days,AR Aging 180 365 days,AR Aging Above 365 days,Revenue Days,Billed Revenue Days,Unbilled Revenue Days,ANSR to Accrue,Cap Market/SSC/Others,Cap Market/SSC/Secondment/Others,FAAS Location,GCC/Non GCC,MS-old,Location- as per base file,FAAS EP,Plan,Prorata Plan,Category,MS Tagging,DA,COE hours,Tech Surcharge,Partner,Executive Director,Senior Manager,Manager,Senior,Intern (CS),Staff,FYTD AR Collected,FYTD AR Collected Tax,FYTD Total Collections,CP AR Collected,CP AR Collected Tax,Assurance Plan,Assurance PY Actual,Audit Partner's Name,Audit Partner's GPN,Partner Status,Audit Partner's MS,Audit Partner's Location,Partner MS,Partner Location,Partner SSL,Location Partner,PY closing AR,PY closing NUI,PY closing CIS,Net Unbilled Inventory - Negative Balance,Net Unbilled Inventory - Positive Balance,Advanced Billing Amount,Unbilled Inv Aging - 0-30 Days,Unbilled Inv Aging - 31-60 Days,Unbilled Inv Aging - 61-90 Days,Unbilled Inv Aging - 91-150 Days,Unbilled Inv Aging - 151-180 Days,Unbilled Inv Aging - 181-365 Days,Unbilled Inv Aging - Above 365 Days,Account Headquarter Country,Country Status,AR Write off,System ANSR / Tech Revenue FYTD,source_file,Year1,Sub_Folder_1,Sub_Folder_2,Month_Serialized,Week,File_Name,Same FY?,Month
0,FY26,E-67313430,67313430.0,National,Bangladesh,CB171 - BD Lease Accelerator Support,2023-04-03 00:00:00,2023-07-12 00:00:00,2023-05-19 00:00:00,NaN,O-3917991,BD Lease Accelerator Support,3120147.0,"Hoque, Ariful",Bangladesh,Completed,3120147.0,12345678,Consulting EP,National,"Hoque, Ariful",Bangladesh,Consulting,3120147.0,12345678,"Hoque, Ariful","Hoque, Ariful",Bangladesh,Consulting,Risk Consulting,11300523,0.0,731529657,British American Tobacco Bangladesh Company Li...,British American Tobacco Bangladesh Company Li...,N,Consumer Products,Consumer Durables,536025000,British American Tobacco P.L.C.,British American Tobacco Bangladesh Company Li...,FAAS,Undefined,10401.0,E.1.1 Technology Enablement (10401),10401.0,E.1.1 Technology Enablement (10401),Standard,15.0,0.0,0.0,0.0,0.0,38.36057,-2.185197e+06,0.0,0.0,0.0,0.0,0.0,2.242162e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,7.320466e+04,0.0,0.0,0.0,2.242162e+06,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,2.242162e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.242162e+06,0.0,0.0,0.0,0.0000,0.0,2.242162e+06,336324.285000,2.578486e+06,0.0,0.0,15.0,2.242162e+06,0.0000,2.242162e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,Bangladesh,Non GCC,National,Bangladesh,Additional Partner,NaN,NaN,Actual,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,NO,NaN,NaN,NaN,NaN,NaN,Other Partner,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FY26__FY26__01.Jul__Wk03__FY25_EngagementList_...,FY26,FY26,FY26,01JUL,3,FY25_EngagementList_Wk03 BI,Y,JUL
1,FY26,E-45403927,45403927.0,National,Bangladesh,SEBL Stat Audit YE 30 Sep 2022,2023-01-04 00:00:00,2023-04-06 00:00:00,2023-06-06 00:00:00,2023-12-06 00:00:00,O-3586574,SEBL Stat Audit YE 30 Sep 2022,2080298.0,"Islam, Hamidul",Bangladesh,Completed,2080298.0,BD010P00012,Mohammed Hamidul Islam,National,"Islam, Hamidul",Bangladesh,Assurance,2123233.0,12345678,"Roman, Mohammed Saifuddin","Roman, Mohammed Saifuddin",Bangladesh,Assurance,Audit,13308693,0.0,731493581,Siemens Energy Bangladesh Ltd. [ARE 4pa0],Siemens Energy Bangladesh Ltd. [ARE 4pa0],N,Technology,tbd - Tech,313797467,Siemens Energy AG,Siemens Energy Bangladesh Ltd. [ARE 4pa0],Audit,Undefined,10067.0,Financial Statement Audit (10067),10067.0,Financial Statement Audit (10067),Lean,2432.0,0.0,0.0,0.0,0.0,-0.38860,1.112275e+06,0.0,0.0,0.0,0.0,0.0,1.749990e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50355.3138,0.0,0.0,0.0,3.258108e+06,0.0,0.0,0.0,1.800346e+06,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,1.800346e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.800346e+06,0.0,0.0,0.0,50355.3138,0.0,1.800346e+06,270051.851025,2.070398e+06,0.0,0.0,2432.0,1.749988e+06,50355.3138,1.800343e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,Bangladesh,Non GCC,National,Bangladesh,Additional Partner,NaN,NaN,Actual,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0,NaN,NO,NaN,NaN,NaN,NaN,NaN,Other Partner,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany,Inbound,NaN,NaN,FY26__FY26__01.Jul__Wk03__FY25_EngagementList_...,FY26,FY26,FY26,01JUL,3,FY25_EngagementList_Wk03 BI,Y,JUL
2,FY26,E-68182933,68182933.0,National,Bangladesh,CB178-Siemens Healthcare Ltd.,2024-04-02 00:00:00,NaN,NaN,NaN,O-4943873,Siemens Healthcare,45810277.0,"Banerjee, Sayandeep",Bangladesh,Completed,45810277.0,IN010J15177,Sayandeep Banerjee,Technology Risk,"Banerjee, Sayandeep",West Bengal,Assurance,45801356.0,IN010J01822,"Kundu, Pramit","Kundu, Pramit",West Bengal,Assurance,Technology Risk,13256747,0.0,731661380,Siemens Healthcare Ltd. [ARE 594s],Siemens Healthcare Ltd. [ARE 594s],N,Life Sciences,Medical Devices & Diagnostics,316067164,Siemens AG,Siemens Healthcare Ltd. [ARE 594s],Technology Risk,Undefined,10327.0,AG-Financial Audit IT Integration (10327),10327.0,AG-Financial Audit IT Integration (10327),Lean,0.0,0.0,0.0,0.0,0.0,-1.00000,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0000,0.0,0.000000e+00,0.000000,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0000,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Others,Others,Bangladesh,Non GCC,National,Bangladesh,Additional Partner,NaN,NaN,Actual,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0,NaN,YES,NaN,NaN,NaN,East,NaN,Sayandeep Banerjee,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FY26__FY26__01.Jul__Wk03__FY25_EngagementList_...,FY26,FY26,FY26,01JUL,3,FY25_EngagementList_Wk03 BI,Y,JUL

**Shape:** 278,942 rows √ó 188 columns

#### üîç Data Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278942 entries, 0 to 278941
Columns: 188 entries, Year to Month
dtypes: float64(121), int64(1), object(66)
memory usage: 400.1+ MB

None

#### üßÆ Missing Values (%)

Partner SSL                 100.00
Assurance PY Actual         100.00
Assurance Plan              100.00
Partner MS                  100.00
MS Tagging                  100.00
Plan                         99.83
Prorata Plan                 99.83
PY closing NUI               98.22
Audit Partner's Location     95.39
Audit Partner's MS           95.35
dtype: float64

#### üìà Numeric Columns Summary

                             count          mean           std         min         25%         50%         75%         max
Eng ID                    278357.0  6.245104e+07  1.006641e+07  32310157.0  45546372.0  67897392.0  68635063.0  69439800.0
Opportunity Partner ID    268273.0  3.739433e+07  1.639536e+07   1029616.0  45000295.0  45001386.0  45004758.0  51001082.0
Engagement Partner GUI    278337.0  3.845100e+07  1.546742e+07   1048075.0  45000295.0  45001482.0  45006265.0  45817253.0
Engagement Manager GUI    278337.0  1.938691e+07  2.108393e+07   1070696.0   2184112.0   3062902.0  45802426.0  45817567.0
GFIS CID                  278337.0  1.043667e+05  2.524317e+06         0.0         0.0         0.0         0.0  61878441.0
Engagement Service Code   278337.0  1.014555e+04  1.540368e+02     10006.0     10067.0     10067.0     10119.0     11359.0
Transaction Service Code  278337.0  1.014555e+04  1.540368e+02     10006.0     10067.0     10067.0     10119.0     11359.0
Charged Hours ETD         278337.0  1.026791e+03  2.958191e+03         0.0        86.0       330.0       943.8    120462.3
Charged Hours FYTD        278337.0  4.792680e+01  3.388500e+02     -1428.0         0.0         0.0         0.0     31235.5
Charged Hours MTD         278337.0  1.772806e+01  1.470084e+02     -2492.0         0.0         0.0         0.0     12829.0

In [61]:
test_df.shape

(278942, 188)

In [63]:
test_df.head()

,Year,Engagement ID,Eng ID,MS,Location,Engagement,Release Date,Last Invoice Issued Date,Last Time Charged Date,Last Expenses Charged Date,Opportunity ID,Opportunity,Opportunity Partner ID,Opportunity Partner,Engagement Province,Engagement Status,Engagement Partner GUI,EP GPN,EP,Partner BU,Engagement Partner,Engagement Partner Province,Engagement Partner Service Line,Engagement Manager GUI,EM GPN,EM,Engagement Manager,Engagement Manager Province,Engagement Manager Service Line,Engagement Manager Sub Service Line,Client ID,GFIS CID,Client DUNS,Client,Client Name,SEC Indicator,Client Sector,Client Sub Sector,Account ID,Account,Account Name,Engagement Sub Service Line,Service Offering,Engagement Service Code,Engagement Service,Transaction Service Code,Transaction Service,Standard/Lean Eng Indicator,Charged Hours ETD,Charged Hours FYTD,Charged Hours MTD,Charged Hours CP,Initial EAF %,EAF % Current,EAF Reserve ETD,EAF Reserve FYTD,EAF Reserve MTD,EAF Reserve CP,AR Reserve ETD,AR Reserve FYTD,ANSR / Tech Revenue ETD,ANSR / Tech Revenue FYTD,NBP,ANSR - NBP Adj,ANSR - NBP Adj YTD LW,ANSR - NBP Adj Last WK,ANSR / Tech Revenue MTD,ANSR / Tech Revenue CP,Expenses ETD,Expenses FYTD,Expenses MTD,Expenses CP,ETD Labor Costs,FYTD Labor Costs,MTD Labor Costs,CP Labor Costs,TER ETD,TER FYTD,TER MTD,TER CP,NUI ETD,Neg WIP,WIP 0 to 60 Days,WIP 61 to 180 Days,WIP > 180 Days,Billed Fees ETD,Billed Fees FYTD,Billed Fees MTD,Billed Fees CP,Billed Expenses ETD,Billed Expenses FYTD,Billed Expenses MTD,Billed Expenses CP,Total Billed ETD,Total Billed FYTD,Total Billed MTD,Total Billed CP,ETD Unbilled Expenses,FYTD Unbilled Expenses,ETD AR Collected,ETD AR Collected Tax,ETD Total Collections,FYTD Collections,CP Total Collections,Charged Hours Mercury Projected,ANSR Mercury Projected,Expenses Mercury Projected,TER Mercury Projected,AR Outstanding,AR 0 to 60 daxys,AR 61 to 180 dyas,AR > 180 days,AR Aging not yet due,AR Aging 0 30 days,AR Aging 31 60 days,AR Aging 61 90 days,AR Aging 91 120 days,AR Aging 121 150 days,AR Aging 151 179 days,AR Aging 180 365 days,AR Aging Above 365 days,Revenue Days,Billed Revenue Days,Unbilled Revenue Days,ANSR to Accrue,Cap Market/SSC/Others,Cap Market/SSC/Secondment/Others,FAAS Location,GCC/Non GCC,MS-old,Location- as per base file,FAAS EP,Plan,Prorata Plan,Category,MS Tagging,DA,COE hours,Tech Surcharge,Partner,Executive Director,Senior Manager,Manager,Senior,Intern (CS),Staff,FYTD AR Collected,FYTD AR Collected Tax,FYTD Total Collections,CP AR Collected,CP AR Collected Tax,Assurance Plan,Assurance PY Actual,Audit Partner's Name,Audit Partner's GPN,Partner Status,Audit Partner's MS,Audit Partner's Location,Partner MS,Partner Location,Partner SSL,Location Partner,PY closing AR,PY closing NUI,PY closing CIS,Net Unbilled Inventory - Negative Balance,Net Unbilled Inventory - Positive Balance,Advanced Billing Amount,Unbilled Inv Aging - 0-30 Days,Unbilled Inv Aging - 31-60 Days,Unbilled Inv Aging - 61-90 Days,Unbilled Inv Aging - 91-150 Days,Unbilled Inv Aging - 151-180 Days,Unbilled Inv Aging - 181-365 Days,Unbilled Inv Aging - Above 365 Days,Account Headquarter Country,Country Status,AR Write off,System ANSR / Tech Revenue FYTD,source_file,Year1,Sub_Folder_1,Sub_Folder_2,Month_Serialized,Week,File_Name,Same FY?,Month
0,FY26,E-67313430,67313430.0,National,Bangladesh,CB171 - BD Lease Accelerator Support,2023-04-03 00:00:00,2023-07-12 00:00:00,2023-05-19 00:00:00,NaN,O-3917991,BD Lease Accelerator Support,3120147.0,"Hoque, Ariful",Bangladesh,Completed,3120147.0,12345678,Consulting EP,National,"Hoque, Ariful",Bangladesh,Consulting,3120147.0,12345678,"Hoque, Ariful","Hoque, Ariful",Bangladesh,Consulting,Risk Consulting,11300523,0.0,731529657,British American Tobacco Bangladesh Company Li...,British American Tobacco Bangladesh Company Li...,N,Consumer Products,Consumer Durables,536025000,British American Tobacco P.L.C.,British American Tobacco Bangladesh Company Li...,FAAS,Undefined,10401.0,E.1.1 Technology Enablement (10401),10401.0,E.1.1 Technology Enablement (10401),Standard,15.0,0.0,0.0,0.0,0.0,38.36057,-2.185197e+06,0.0,0.0,0.0,0.0,0.0,2.242162e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,7.320466e+04,0.0,0.0,0.0,2.242162e+06,0.0,0.0,0.0,0.00000,0.0,NaN,NaN,NaN,2.242162e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.242162e+06,0.0,0.0,0.0,0.0000,0.0,2.242162e+06,336324.285000,2.578486e+06,0.0,0.0,15.0,2.242162e+06,0.0000,2.242162e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,Others,Others,Bangladesh,Non GCC,National,Bangladesh,Additional Partner,NaN,NaN,Actual,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,NO,NaN,NaN,NaN,NaN,NaN,Other Partner,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FY26__FY26__01.Jul__Wk03__FY25_EngagementList_...,FY26,FY26,FY26,01JUL,3,FY25_EngagementList_Wk03 BI,Y,JUL
1,FY26,E-45403927,45403927.0,National,Bangladesh,SEBL Stat Audit YE 30 Sep 2022,2023-01-04 00:00:00,2023-04-06 00:00:00,2023-06-06 00:00:00,2023-12-06 00:00:00,O-3586574,SEBL Stat Audit YE 30 Sep 2022,2080298.0,"Islam, Hamidul",Bangladesh,Completed,2080298.0,BD010P00012,Mohammed Hamidul Islam,National,"Islam, Hamidul",Bangladesh,Assurance,2123233.0,12345678,"Roman, Mohammed Saifuddin","Roman, Mohammed Saifuddin",Bangladesh,Assurance,Audit,13308693,0.0,731493581,Siemens Energy Bangladesh Ltd. [ARE 4pa0],Siemens Energy Bangladesh Ltd. [ARE 4pa0],N,Technology,tbd - Tech,313797467,Siemens Energy AG,Siemens Energy Bangladesh Ltd. [ARE 4pa0],Audit,Undefined,10067.0,Financial Statement Audit (10067),10067.0,Financial Statement Audit (10067),Lean,2432.0,0.0,0.0,0.0,0.0,-0.38860,1.112275e+06,0.0,0.0,0.0,0.0,0.0,1.749990e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50355.3138,0.0,0.0,0.0,3.258108e+06,0.0,0.0,0.0,1.800346e+06,0.0,0.0,0.0,0.00000,0.0,NaN,NaN,NaN,1.800346e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.800346e+06,0.0,0.0,0.0,50355.3138,0.0,1.800346e+06,270051.851025,2.070398e+06,0.0,0.0,2432.0,1.749988e+06,50355.3138,1.800343e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,Others,Others,Bangladesh,Non GCC,National,Bangladesh,Additional Partner,NaN,NaN,Actual,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0,NaN,NO,NaN,NaN,NaN,NaN,NaN,Other Partner,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany,Inbound,NaN,NaN,FY26__FY26__01.Jul__Wk03__FY25_EngagementList_...,FY26,FY26,FY26,01JUL,3,FY25_EngagementList_Wk03 BI,Y,JUL
2,FY26,E-68182933,68182933.0,National,Bangladesh,CB178-Siemens Healthcare Ltd.,2024-04-02 00:00:00,NaN,NaN,NaN,O-4943873,Siemens Healthcare,45810277.0,"Banerjee, Sayandeep",Bangladesh,Completed,45810277.0,IN010J15177,Sayandeep Banerjee,Technology Risk,"Banerjee, Sayandeep",West Bengal,Assurance,45801356.0,IN010J01822,"Kundu, Pramit","Kundu, Pramit",West Bengal,Assurance,Technology Risk,13256747,0.0,731661380,Siemens Healthcare Ltd. [ARE 594s],Siemens Healthcare Ltd. [ARE 594s],N,Life Sciences,Medical Devices & Diagnostics,316067164,Siemens AG,Siemens Healthcare Ltd. [ARE 594s],Technology Risk,Undefined,10327.0,AG-Financial Audit IT Integration (10327),10327.0,AG-Financial Audit IT Integration (10327),Lean,0.0,0.0,0.0,0.0,0.0,-1.00000,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.00000,0.0,NaN,NaN,NaN,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0000,0.0,0.000000e+00,0.000000,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0000,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,Others,Others,Bangladesh,Non GCC,National,Bangladesh,Additional Partner,NaN,NaN,Actual,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0,NaN,YES,NaN,NaN,NaN,East,NaN,Sayandeep Banerjee,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FY26__FY26__01.Jul__Wk03__FY25_EngagementList_...,FY26,FY26,FY26,01JUL,3,FY25_EngagementList_Wk03 BI,Y,JUL
3,FY26,E-68506663,68506663.0,National,Bangladesh,CB138-SCCBD Stat Audit 31 Dec 24,2024-08-05 00:00:00,NaN,2025-06-02 00:00:00,2025-01-23 00:00:00,O-5101492,CB138-SCCBD Stat Audit 31 Dec 24,2080298.0,"Islam, Hamidul",Bangladesh,Released,2080298.0,BD010P00012,Mohammed Hamidul Islam,National,"Islam, Hamidul",Bangladesh,Assurance,2138478.0,12345678,"Roy, Suvankar","Roy, Suvankar",Bangladesh,Assurance,Audit,13281551,0.0,731532797,Siam City Cement (Bangladesh) Limited,Siam City Cement (Bangladesh) Limited,N,Mining & Metals,Aggregates & Cement,659717805,BANGKOK BROADCASTING & T.V. COMPANY LIMITED,Siam City Cement (Bangladesh) Limited,Audit,Undefined,10067.0,Financial Statement Audit (10067),10067.0,Financial Statement Audit (10067),Lean,770.5,0.0,0.0,0.0,0.0,-0.45410,6.115736e+05,0.0,0.0,0.0,0.0,0.0,7.352081e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3483.7770,0.0,0.0,0.0,1.373590e+06,0.0,0.0,0.0,7.386919e+05,0.0,0.0,0.0,738691.91352,0.0,NaN,NaN,NaN,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,3483.7770,0.0,0.000000e+00,0.000000,0.000000e+00,0.0,0.0,820.5,7.899996e+05,3483.7770,7.934834e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,259.0,0.0,259.0,54791.461725,Others,Others,Bangladesh,Non GCC,National,Bangladesh,Additional Partner,NaN,NaN,Actual,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0,NaN,NO,NaN,NaN,NaN,NaN,NaN,Other Partner,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thailand,Inbound,NaN,NaN,FY26__FY26__01.Jul__Wk03__FY25_EngagementList_...,FY26,FY26,FY26,01JUL,3,FY25_EngagementList_Wk03 BI,Y,JUL
4,FY26,E-45003752,45003752.0,National,Bangladesh,JBL Stat Audit FY 2021,2023-01-04 00:00:00,2023-03-01 00:00:00,2023-06-06 00:00:00,2023-10-17 00:00:00,O-3616387,JBL Stat Audit FY 2021,2080298.0,"Islam, Hamidul",Bangladesh,Completed,2080298.0,BD010P00012,Mohammed Hamidul Islam,National,"Islam, Hamidul",Bangladesh,Assurance,2114008.0,12345678,"Redwanur Rahman, Al Amin","Redwanur Rahman, Al Amin",Bangladesh,Assurance,Audit,11908979,0.0,731761524,Jotun Bangladesh Limited,Jotun Bangladesh Limited,N,Industrial Products,Industrial & Mechanical Components,515051258,Jotun A/S,Jotun Bangladesh Limited,Audit,Undefined,10067.0,Financial Statement Audit (10067),10067.0,Financial Statement Audit (10067),Standard,4799.5,0.0,0.0,0.0,0.0,-0.56974,3.990673e+06,0.0,0.0,0.0,0.0,0.0,3.013689e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99417.6249,0.0,0.0,0.0,6.697236e+06,0.0,0.0,0.0,3.113106e+06,0.0,0.0,0.0,0.00000,0.0,NaN,NaN,NaN,3.113106e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.113106e+06,0.0,0.0,0.0,99417.6249,0.0,3.113106e+06,466965.922500,3.580072e+06,0.0,0.0,4799.5,3.013703e+06,99417.6249,3.113120e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,Others,Others,Bangladesh,Non GCC,National,Bangladesh,Additional Partner,NaN,NaN,Actual,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0,NaN,NO,NaN,NaN,NaN,NaN,NaN,Other Partner,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Norway,Inbound,NaN,NaN,FY26__FY26__01.Jul__Wk03__FY25_EngagementList_...,FY26,FY26,FY26,01JUL,3,FY25_EngagementList_Wk03 BI,Y,JUL

In [69]:
# ‚úÖ Check columns and dtypes alignment
missing_cols = [c for c in df_model.columns if c not in test_df.columns]
extra_cols = [c for c in test_df.columns if c not in df_model.columns]

print("üß© Columns missing in FY26 data:", missing_cols)
print("üß© Extra columns in FY26 data:", extra_cols)

# Check data types consistency
compare_types = pd.DataFrame({
    "Train_dtype": df_model.dtypes,
    "Test_dtype": test_df.dtypes.reindex(df_model.columns)
})
display(compare_types)

# Check missing values ratio
missing_test = test_df.isnull().mean() * 100
print("\nüîç Missing values (%):")
print(missing_test[missing_test > 0].sort_values(ascending=False))

üß© Columns missing in FY26 data: []
üß© Extra columns in FY26 data: ['Engagement ID', 'Eng ID', 'Engagement', 'Release Date', 'Last Invoice Issued Date', 'Last Time Charged Date', 'Last Expenses Charged Date', 'Opportunity ID', 'Opportunity', 'Opportunity Partner ID', 'Opportunity Partner', 'Engagement Province', 'Engagement Status', 'Engagement Partner GUI', 'EP GPN', 'EP', 'Partner BU', 'Engagement Partner Province', 'Engagement Partner Service Line', 'Engagement Manager GUI', 'EM GPN', 'EM', 'Engagement Manager', 'Engagement Manager Province', 'Engagement Manager Service Line', 'Engagement Manager Sub Service Line', 'GFIS CID', 'Client DUNS', 'Client Name', 'SEC Indicator', 'Client Sector', 'Client Sub Sector', 'Account ID', 'Account', 'Account Name', 'Service Offering', 'Engagement Service Code', 'Engagement Service', 'Transaction Service Code', 'Transaction Service', 'Standard/Lean Eng Indicator', 'Charged Hours ETD', 'Charged Hours MTD', 'Charged Hours CP', 'Initial EAF %', 'EAF % Current', 'EAF Reserve ETD', 'EAF Reserve MTD', 'EAF Reserve CP', 'AR Reserve ETD', 'AR Reserve FYTD', 'ANSR / Tech Revenue ETD', 'NBP', 'ANSR - NBP Adj', 'ANSR - NBP Adj YTD LW', 'ANSR - NBP Adj Last WK', 'ANSR / Tech Revenue MTD', 'ANSR / Tech Revenue CP', 'Expenses ETD', 'Expenses MTD', 'Expenses CP', 'ETD Labor Costs', 'MTD Labor Costs', 'CP Labor Costs', 'TER ETD', 'TER FYTD', 'TER MTD', 'TER CP', 'Neg WIP', 'WIP 0 to 60 Days', 'WIP 61 to 180 Days', 'WIP > 180 Days', 'Billed Fees ETD', 'Billed Fees MTD', 'Billed Fees CP', 'Billed Expenses ETD', 'Billed Expenses MTD', 'Billed Expenses CP', 'Total Billed ETD', 'Total Billed MTD', 'Total Billed CP', 'ETD Unbilled Expenses', 'ETD AR Collected', 'ETD AR Collected Tax', 'CP Total Collections', 'Charged Hours Mercury Projected', 'ANSR Mercury Projected', 'Expenses Mercury Projected', 'TER Mercury Projected', 'AR 0 to 60 daxys', 'AR 61 to 180 dyas', 'AR > 180 days', 'AR Aging not yet due', 'AR Aging 0 30 days', 'AR Aging 31 60 days', 'AR Aging 61 90 days', 'AR Aging 91 120 days', 'AR Aging 121 150 days', 'AR Aging 151 179 days', 'AR Aging 180 365 days', 'AR Aging Above 365 days', 'Revenue Days', 'ANSR to Accrue', 'Cap Market/SSC/Others', 'Cap Market/SSC/Secondment/Others', 'FAAS Location', 'GCC/Non GCC', 'MS-old', 'Location- as per base file', 'FAAS EP', 'Plan', 'Prorata Plan', 'Category', 'MS Tagging', 'DA', 'COE hours', 'Tech Surcharge', 'Partner', 'Executive Director', 'Senior Manager', 'Manager', 'Senior', 'Intern (CS)', 'Staff', 'FYTD AR Collected', 'FYTD AR Collected Tax', 'FYTD Total Collections', 'CP AR Collected', 'CP AR Collected Tax', 'Assurance Plan', 'Assurance PY Actual', "Audit Partner's Name", "Audit Partner's GPN", 'Partner Status', "Audit Partner's MS", "Audit Partner's Location", 'Partner MS', 'Partner Location', 'Partner SSL', 'Location Partner', 'PY closing AR', 'PY closing NUI', 'PY closing CIS', 'Net Unbilled Inventory - Negative Balance', 'Net Unbilled Inventory - Positive Balance', 'Advanced Billing Amount', 'Unbilled Inv Aging - 0-30 Days', 'Unbilled Inv Aging - 31-60 Days', 'Unbilled Inv Aging - 61-90 Days', 'Unbilled Inv Aging - 91-150 Days', 'Unbilled Inv Aging - 151-180 Days', 'Unbilled Inv Aging - 181-365 Days', 'Unbilled Inv Aging - Above 365 Days', 'Account Headquarter Country', 'Country Status', 'AR Write off', 'System ANSR / Tech Revenue FYTD', 'source_file', 'Year1', 'Sub_Folder_1', 'Sub_Folder_2', 'Month_Serialized', 'File_Name', 'Same FY?']

                            Train_dtype Test_dtype
ANSR / Tech Revenue FYTD        float64    float64
AR Outstanding                  float64    float64
Billed Expenses FYTD            float64    float64
Billed Fees FYTD                float64    float64
Billed Revenue Days             float64    float64
Charged Hours FYTD              float64    float64
Client                           object     object
Client ID                        object     object
EAF Reserve FYTD                float64    float64
ETD Total Collections           float64    float64
Engagement Partner               object     object
Engagement Sub Service Line      object     object
Expenses FYTD                   float64    float64
FYTD Collections                float64    float64
FYTD Labor Costs                float64    float64
FYTD Unbilled Expenses          float64    float64
Location                         object     object
MS                               object     object
NUI ETD                         float64    float64
Total Billed FYTD               float64    float64
Unbilled Revenue Days           float64    float64
Month                            object     object
Week                              int64      int64
Year                             object     object

üîç Missing values (%):
Partner MS             100.000000
Partner SSL            100.000000
MS Tagging             100.000000
Assurance PY Actual     99.995698
Assurance Plan          99.995698
                          ...
Eng ID                   0.209721
Engagement ID            0.104681
FAAS Location            0.043020
FAAS EP                  0.043020
Partner Status           0.016132
Length: 174, dtype: float64

In [75]:
test_df.shape

(278942, 188)

In [76]:
test_df.to_pickle("FY26_test_df.pkl")
print("‚úÖ FY26 DataFrame saved as Pickle ‚Üí FY26_test_df.pkl")

‚úÖ FY26 DataFrame saved as Pickle ‚Üí FY26_test_df.pkl

In [77]:
est_df=pd.read_pickle("FY26_test_df.pkl")

In [78]:
est_df.shape

(278942, 188)